<div class="panel panel-default delete-confirmation">
    <div class="panel-heading">
        <h3 class="panel-title">Your API Key has been successfully created! Please save this information below for use in your application, as this is the last time you will be able to access it</h3>
    </div>
    <div class="panel-body">
    <label>Client ID:</label>
    {{clientid}}
    <div class="key-container">
    <label>Secret Key:</label>
        {{keys}}
    </div>
    </div>
    <div class="panel-footer delete-confirmation text-center">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>