<!--<nav class="mobile-navbar" ng-show="showNavBar">-->
        <!--<div class="mobile_organization_name">-->
            <!--{{organization_name}}-->
            <!--<label class="label label-danger">BETA</label>-->
        <!--</div>-->
    <!--<div id="mobile-button" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></div>-->
    <!--<div class="mobile-menu">-->
        <!--<ul class="vertical-menu">-->
            <!--<li class="vertical-menu-item">-->
                <!--<a class="uppercase">{{completeName }}</a>-->
            <!--</li>-->
            <!--<li class="vertical-menu-item">-->
                <!--<a ng-class="{ sidebar_selected: isActive('/student') }" href="#/student" class="uppercase">{{ 'general.dashboard' | i18n  }}</a>-->
            <!--</li>-->
            <!--<li class="vertical-menu-item">-->
                <!--<a ng-class="{ sidebar_selected: isActive('/program') }" href="#/program" class="uppercase">{{ 'general.programs' | i18n  }}</a>-->
            <!--</li>-->
            <!--<li class="vertical-menu-item">-->
                <!--<a ng-class="{ sidebar_selected: isActive('/report') }" href="#/report" class="uppercase">{{ 'general.reports' | i18n  }}</a>-->
            <!--</li>-->
            <!--<li class="vertical-menu-item">-->
                <!--<a ng-class="{ sidebar_selected: isActive('/user') }" href="#/users" class="uppercase">{{ 'general.users' | i18n  }}</a>-->
            <!--</li>-->
            <!--<li class="vertical-menu-item">-->
                <!--<a ng-class="{ sidebar_selected: isActive('/profile') }" href="#/profile" class="uppercase">{{ 'general.account_settings' | i18n  }}</a>-->
            <!--</li>-->
            <!--<li class="vertical-menu-item">-->
                <!--<a ng-click="logoutMe()" class="uppercase">{{ 'general.logout' | i18n  }}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<!--<button type="button" id="sidebar-open-btn" class="btn btn-default" aria-label="Left Align" ng-click="openSidebar()" ng-show="sidebarButtonOpen">-->
    <!--<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>-->
<!--</button>-->
        <div class="top-toolbar">
            <p class="sidemenu organization_name mobile-org-name text-center">{{organization_name}} <label class="label label-danger beta-mobile" ng-show="showNavBar">BETA</label></p>
            <button id="button-close-open" type="button" ng-show="showNavBar">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
        <nav id="desktop-nav" class="navbar-inverse" ng-show="showNavBar">
            <!--<a id="collapse-sidebarmenu" class="icon-sidebarmenu glyphicon glyphicon-remove"></a>-->
            <div id="link-container">
                <p class="sidemenu organization_name desktop-org-name">{{organization_name}}<br/><label class="label label-danger">BETA</label></p>
                <p class="sidemenu username">{{completeName }}</p>
                <div id="border"></div>
                <ul id="sidebar-panel-menu" class="link-nav nav nav-stacked">
                    <li id="dashboard" ng-class="{ sidebar_selected: isActive('/student') }" role="presentation"><a ng-class="{ sidebar_selected: isActive('/student') }" ng-href="#/student" class="link-nav sidemenu">{{ 'general.dashboard' | i18n  }}</a></li>
                    <li id="programs" ng-class="{ sidebar_selected: isActive('/program') }" role="presentation"><a ng-class="{ sidebar_selected: isActive('/program') }" ng-href="#/program" class="link-nav sidemenu">{{ 'general.programs' | i18n  }}</a></li>
                    <li id="reports" ng-class="{ sidebar_selected: isActive('/report') }" role="presentation"><a ng-class="{ sidebar_selected: isActive('/report') }" ng-href="#/report" class="link-nav sidemenu">{{ 'general.reports' | i18n  }}</a></li>
                    <li id="users" ng-class="{ sidebar_selected: isActive('/user') }" role="presentation"><a ng-class="{ sidebar_selected: isActive('/user') }" ng-href="#/user" class="link-nav sidemenu">{{ 'general.users' | i18n  }}</a></li>
                    <li id="edit_profile" ng-class="{ sidebar_selected: isActive('/profile') }" role="presentation"><a ng-class="{ sidebar_selected: isActive('/profile') }" ng-href="#/profile" class="link-nav sidemenu">{{ 'general.account_settings' | i18n  }}</a></li>
                    <li ng-class="{ sidebar_selected: isActive('/logout') }" role="presentation"><a ng-click="logoutMe()" class="link-nav sidemenu">{{ 'general.logout' | i18n  }}</a></li>
                </ul>
                <ul id="footer">
                    <li><a>&copy;&nbsp;2015&nbsp;</a><a href="http://www.psesd.org/" target="_blank">PSESD</a></li>
                    <li><a href="http://roadmapracetothetop.org/" target="_blank">ROADMAP PROJECT</a></li>
                    <li class="privacy_policy_bottom_space"><a>PRIVACY POLICY</a></li>
                </ul>
            </div>
        </nav>

    <!--<div ng-class="is_logged_in ? 'visible-on' : 'visible-off remove-pad'" class="error-container"></div>-->
    <!--<div id="rootDoc" class="container-fluid" ng-class="checkPath()?'center-panel':''">-->
    <div class="container-fluid">
        <div class="error-container"></div>
        <ng-view ng-class="ng-view" ng-hide="doingResolve"></ng-view>
        <div class="separator-content"></div>
        <div ng-if="showNavBar">
            <div class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
                <h1><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> {{ 'general.loading' | i18n }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card confidentiality-footer" ng-show="!showFooter == doingResolve && is_logged_in">
                    {{ 'general.footer_confidentiality1' | i18n }} <a href="http://www2.ed.gov/ferpa/">FERPA</a> {{ 'general.footer_confidentiality2' | i18n }} <a href="mailto:help@studentsuccesslink.org"> help@studentsuccesslink.org.</a>
                </div>
                <div class="version" ng-show="!showFooter == doingResolve && is_logged_in">
                    {{'general.version' | i18n}}&nbsp; 1.0
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

    </div>

<!--</div>-->

<script src="asset/js/custom-slide.js"></script>
