<div class="desktop">

    <div id="side-panel">
        <div id="desktop-nav" class="navbar-inverse" ng-show="showNavBar">
            <div class="sidebar-nav">

                    <a id="collapse-sidebarmenu" class="icon-sidebarmenu glyphicon glyphicon-remove"></a>


                <ul class="nav navbar-nav navbar-right">
                    <span class="navbar-brand" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-expanded="false"></span>
                </ul>

                <ul id="sidebar-panel-menu" class="nav navbar-nav">
                    <li>
                        <a href="#" class="link-nav">{{organization_name | uppercase}}</a>
                    </li>
                    <li>

                        <a href="#" class="link-nav">{{completeName | uppercase}}</a>
                        <div id="border" style="position:relative;border-top:2px solid #555; width:30px;left:15px;">
                        </div>
                    </li>
                    <li ng-class="{ active: isActive('/student') }">
                        <a ng-href="#/student" class="link-nav">{{ 'general.dashboard' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/user') }" ng-show="users_link">
                        <a ng-href="#/user" class="link-nav">{{ 'general.users' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/program') }">
                        <a ng-href="#/program" class="link-nav">{{ 'general.programs' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/profile') }">
                        <a ng-href="#/profile" class="link-nav">{{ 'general.account_settings' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/logout') }">
                        <a href="javascript:void(0)" ng-click="logoutMe()" class="link-nav">{{ 'general.logout' | i18n | uppercase }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="center-panel" class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div id="error-container" style="margin-left:70px;">

                </div>

            </div>
        </div>
        <ng-view ng-class="ng-view" ng-hide="doingResolve"></ng-view>
        <div class="separator-content"></div>
        <div ng-if="showNavBar">
            <div style="margin-left:70px;" class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
                <h2><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> {{ 'general.loading' | i18n }}</h2>
            </div>
        </div>
        <div ng-if="!showNavBar">
            <div class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
                <h2><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> {{ 'general.loading' | i18n }}</h2>
            </div>
        </div>
        <div  class="row footer" ng-show="show_footer">
            <div  class="col-md-12 stick-footer">
                <ul class="flexbox footer">
                    <li><a href="http://www.psesd.org/">PSED</a></li>
                    <li><a href="http://www.psesd.org/about/contact-us/">PSED CONTACT</a></li>
                    <li><a href="http://roadmapracetothetop.org/">THE ROADMAP PROJECT</a></li>
                    <li><a>PRIVACY POLICY</a></li>
                    <li><a>COPYRIGHT NOTICE</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="asset/js/custom-slide.js"></script>
