<div class="row">

    <div class="col-md-offset-4 col-md-4" id="forget-container">

        <form class="form-signin" id="loginForm" name="loginForm" role="form" ng-submit="forgotPassword(forgot)">
            <div class="card">
                <div class="title">
                    <h1>FORGOT PASSWORD</h1>
                    <hr>
                </div>
                <div class="content">
                    <p>
                        <input type="text" class="form-control" ng-model="forgot.email" name="email" placeholder="EMAIL" required autofocus>
                        <p class="help-block">ENTER EMAIL ASSOCIATED WITH ACCOUNT</p>
                    </p>
                </div>
                <button class="button" ng-disabled="login.working">SEND PASSWORD</button>
                <a href="#/login" class="button">Back to login page</a>
            </div>
        </form>

    </div>

</div>
