<div class="row">

    <div class="col-md-4 col-md-offset-4" id="forget-container">
        <!-- Login Form -->
        <!--<form class="form-signin" name="loginForm" role="form" ng-submit="loginMe(login.username, login.password)">-->
        <form class="form-signin" name="loginForm" role="form" ng-submit="forgotPassword(forgot)">

            <h2 style="" class="form-signin-heading">FORGOT PASSWORD</h2>

            <input style="margin-top: 40px;" type="text" class="form-control" ng-model="forgot.email" name="email" placeholder="EMAIL" required autofocus>
            <p style="font-weight: normal; font-size: 10px; vertical-align: middle;" class="help-block">ENTER EMAIL ASSOCIATED WITH ACCOUNT</p>
            <button style="margin-top: 40px;" class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="login.working">SEND PASSWORD</button>
            <a href="#/login" style="margin-top: 10px;" class="btn btn-lg btn-default col-md-12" type="submit" ng-disabled="login.working">Back to login page</a>

        </form>
        <div style="display: none;">
            <div id="form_auth">

            </div>
        </div>
    </div>

</div>
