<div class="container-fluid">
    <div id="mobile" class="row">
        <div class="col-md-12">
            <nav class="navbar-inverse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" ng-show="showNavBar" id="cbp-spmenu-s1">
                <span id="showLeftPush" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                <ul class="nav navbar-nav navbar-right">
                    <span class="navbar-brand" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-expanded="false"></span>
                </ul>
                <ul class="nav navbar-nav" style="padding-left:15px;">
                    <li>
                        <a href="#" style="padding-left:0">{{completeName | uppercase}}</a>
                        <div style="position:relative;border-top:2px solid #555; width:30px;">
                        </div>
                    </li>
                    <li ng-class="{ active: isActive('/student') }">
                        <a ng-href="#/student" style="width:55%;padding-left:0">{{ 'general.dashboard' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/user') }" ng-show="users_link">
                        <a ng-href="#/user" style="width:55%;padding-left:0">{{ 'general.users' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/program') }">
                        <a ng-href="#/program" style="width:55%;padding-left:0">{{ 'general.programs' | i18n | uppercase }}</a>
                    </li>
                    <li ng-class="{ active: isActive('/profile') }">
                        <a ng-href="#/profile" style="width:55%;padding-left:0">{{ 'general.account_settings' | i18n | uppercase }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-left:15px;">
                    <li ng-class="{ active: isActive('/logout') }">
                        <a href="javascript:void(0)" ng-click="logoutMe()" style="width:55%;padding-left:0">{{ 'general.logout' | i18n | uppercase }}</a>
                    </li>
                </ul>
            </nav>

            <div class="content" style="padding-left:65px;">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="showNavBar">
                            <div class="error-container">

                            </div>
                        </div>
                    </div>
                </div>
                <ng-view ng-hide="doingResolve"></ng-view>
                <div ng-if="showNavBar">
                    <div style="margin-left:70px;" class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
                        <h2><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> {{ 'general.loading' | i18n }}</h2>
                    </div>
                </div>
                <div ng-if="!showNavBar">
                    <div class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
                        <h2><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> {{ 'general.loading' | i18n }}</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="asset/js/custom-slide.js"></script>
