<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Backpack Student
        </h1>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="student_id">ID:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student._id" id="student_id" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="district_student_id">District Student ID:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.district_student_id" id="district_student_id" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="first_name">First Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.first_name" id="first_name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="middle_name">Middle Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.middle_name" id="middle_name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="last_name">Last Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.last_name" id="last_name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="school_district">School District:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.school_district" id="school_district" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="created">Created:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.created" id="created" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="last_updated">Last Update:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.last_updated" id="last_updated" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="last_updated_by">Last Update By:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="student.last_updated_by" id="last_updated_by" readonly>
                </div>
            </div>
        </form>

    </div>
</div>
