<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1>
                        {{ 'general.student_backpack' | i18n }}
                    </h1>
                    <hr>
                </div>
                <div class="content">

                    <pre pretty-json="student"/>
                    <div class="form-actions">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <a href="#/student" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>

