<div class="row">
    <div class="col-md-12">

        <div class="border">

            <div class="col-md-12">
            <h1>
                {{ student.first_name }} {{ student.last_name }}
                <span class="update-info pull-right">LAST UPDATE </span>
            </h1>
            </div>
            <div class="col-md-5 border-right data-content">
                <div class="col-md-4">

                    <p class="subhead">PERSONAL INFO</p>
                    <hr/>
                    <p class="content-info">
                        <b>District ID</b> {{ student.district_student_id }} <br/>
                        <b>Birthday</b> [[ 9/15/1999 ]]<br/>
                        <b>Race/Ethnicity</b> [[ Asian ]] <br/>
                        <b>Gender</b> [[ Female ]]
                    </p>

                    <p class="subhead">PERSONAL CONTACT</p>
                    <hr/>
                    <p class="content-info">
                        [[ 206.556.7788 ]] <br/>
                        [[ NAMERSON@GMAIL.COM ]] <br/>
                        [[ 5555 Street Ave New. ]]
                    </p>

                </div>
                <div class="col-md-4">

                    <p class="subhead">EMERGENCY CONTACTS</p>
                    <hr/>
                    <p class="content-info">
                        <b>[[ Mom Namerson ]]</b> <br/>
                        [[ 206.556.7788 ]]<br/>
                        [[ momNAMERSON@GMAIL.COM ]]<br/>
                        [[ 5555 Street Ave New. ]]
                    </p>

                    <p class="content-info">
                        <b>[[ Dad Namerson ]]</b> <br/>
                        [[ 206.556.7788 ]]<br/>
                        [[ dadNAMERSON@GMAIL.COM ]]<br/>
                        [[ 5555 Street Ave New. ]]
                    </p>

                </div>
                <div class="col-md-4">

                    <p class="subhead">CBO MENTORS</p>
                    <hr/>
                    <p class="content-info">
                        <span>[[ Bob Hardwork ]]</span> <br/>
                        <span>[[ Casey Manger ]]</span> <br/>
                    </p>

                </div>

                <div class="clearfix"></div>

            </div>
            <div class="col-md-7 data-content">

                <div class="col-md-4">

                    <p class="subhead">ACADEMIC</p>
                    <hr/>
                    <p class="content-info">
                        <b>Current School</b> [[ Learning High School ]] <br/>
                        <b>Expected Graduation Year</b> [[ 2016 ]] <br/>
                        <b>Grade level</b> [[ 11 ]]<br/>
                    </p>

                    <a class="btn btn-primary">SEE SCHOOL HISTORY</a>

                </div>
                <div class="col-md-4">

                    <p class="subhead">&nbsp;</p>
                    <hr/>
                    <p class="content-info">
                        <b>U.S. Immigrations Status</b> [[ U.S. Citizen ]] <br/>
                        <b>Language Spoken at Home</b> English<br/>
                        <b>IEP</b> No<br/>
                        <b>S504</b> No<br/>
                        <b>Free or Reduced Lunch</b> Yes<br/>
                        <b>3rd Grade Reading Level</b> Yes<br/>
                    </p>

                </div>
                <div class="col-md-4">

                    <p class="subhead">CURRENT COURSES</p>
                    <hr/>
                    <p class="content-info">
                        <span>[[ HISTORY 2 ]]</span> <br/>
                        <span>[[ SPANISH 3 ]]</span> <br/>
                        <span>[[ LANGUAGE ARTS ]]</span> <br/>
                        <span>[[ ARTS 2 ]]</span> <br/>
                        <span>[[ P.E. ]]</span> <br/>
                    </p>

                </div>

                <div class="clearfix"></div>

            </div>

            <div class="clearfix"></div>

            <a href="javascript:void(0)" onclick="hideContent(this)" class="pull-right menu-up" style="display: block;"><i class="glyphicon glyphicon-menu-up"></i></a>
            <a href="javascript:void(0)" onclick="showContent(this)" class="pull-right menu-down" style="display: none;"><i class="glyphicon glyphicon-menu-down"></i></a>

        </div>

        <div class="row top15">

            <div class="col-md-3">

                <div class="border">

                    <a href="javascript:void(0);" class="icon-window"><i class="glyphicon glyphicon-lock"></i></a>

                    <h1>
                        ATTENDANCE
                    </h1>
                    <p class="subhead">DAYS MISSED IN YEAR</p>
                    <hr/>
                    <p class="content-info">
                        [[ 3% ]]
                    </p>

                    <a class="btn btn-primary pull-right">EXPAND</a>

                    <div class="clearfix"></div>

                </div>

            </div>


            <div class="col-md-3">

                <div class="border">

                    <a href="javascript:void(0);" class="icon-window"><i class="glyphicon glyphicon-lock"></i></a>

                    <h1>
                        BEHAVIOR
                    </h1>
                    <p class="subhead">#4 DETENTION</p>
                    <hr/>
                    <p class="content-info">
                        <span>[[ 9/24/15 ]] <br/> [[ Disruption ]]</span>
                    </p>

                    <a class="btn btn-primary pull-right">EXPAND</a>

                    <div class="clearfix"></div>

                </div>

            </div>


            <div class="col-md-3">

                <div class="border">

                    <a href="javascript:void(0);" class="icon-window"><i class="glyphicon glyphicon-lock"></i></a>

                    <h1>
                        COURSES
                    </h1>
                    <p class="subhead">ON TRACK TO GRADUATE</p>
                    <hr/>
                    <p class="content-info">
                        <b>[[ 18 ]]</b> Credits Earned <br/>
                        <b>[[ 20 ]]</b> Credits Attempted <br/>
                        <b>[[ 20 ]]</b> Credits Expected <br/>
                        <b>[[ Grade Level ]]</b> 11 <br/>
                    </p>

                    <a class="btn btn-primary pull-right">EXPAND</a>

                    <div class="clearfix"></div>

                </div>

            </div>


            <div class="col-md-3">

                <div class="border">

                    <a href="javascript:void(0);" class="icon-window"><i class="glyphicon glyphicon-pencil"></i></a>

                    <h1>
                        PROGRAM PARTICIPATION
                    </h1>
                    <p class="subhead">PROGRAMS</p>
                    <hr/>
                    <p class="content-info">
                        <b>[[ Math Tutoring ]]</b> <br/>
                        <b>[[ After School Basketball ]]</b> <br/>
                        <b>[[ Chemistry Tutoring ]]</b> <br/>
                    </p>

                    <a class="btn btn-primary pull-right">EXPAND</a>

                    <div class="clearfix"></div>

                </div>

            </div>

        </div>

    </div>
</div>
