<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                    {{ student.first_name }} {{ student.last_name }}
                    <span class="last-update">Last update : &nbsp {{ student.last_updated | date : 'MM/dd/yyyy HH:mm:ss' : timezone }}</span>
                    </h2>
                </div>
            </div>
            <div class="row vertical-divider">
                <div class="col-md-5 data-content">

                    <div class="row col-md-4">
                        <div class="title">
                            <p class="subhead">PERSONAL INFO</p>
                            <hr>
                        </div>
                        <div class="content">
                            <b>District ID</b> {{ student.district_student_id }}
                            <br/>
                            <b>Birthday</b> {{studentdetails.demographics.birthDate | date : 'MM/dd/yyyy' : timezone}}
                            <br/>
                            <b>Race/Ethnicity</b> {{studentdetails.demographics.races.race.race}}
                            <br/>
                            <b>Gender</b> {{studentdetails.demographics.sex}}
                        </div>
                        <div class="title">
                            <p class="subhead" style="margin-top:20px;">PERSONAL CONTACT</p>
                            <hr>
                        </div>
                        <div class="content">
                            {{student.email}}
                            <br/> {{student.phone | phonenumber}}
                            <br/> {{student.address}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">
                            <p class="subhead">EMERGENCY CONTACTS</p>
                            <hr>
                        </div>
                        <div class="content">
                            <b>{{student.emergency1_name}}</b>
                            <br/> {{student.emergency1_relationship}}
                            <br/> {{student.emergency1_email}}
                            <br/> {{student.emergency1_phone | phonenumber}}
                        </div>
                        <div class="content" style="margin-top:20px;">
                            <b>{{student.emergency2_name}}</b>
                            <br/> {{student.emergency2_relationship}}
                            <br/> {{student.emergency2_email}}
                            <br/> {{student.emergency2_phone | phonenumber}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">
                            <p class="subhead">Case Workers</p>
                            <hr>
                        </div>
                        <div class="content">

                            <div ng-repeat="person in case_workers">
                                <span>{{person.fullname}}</span>
                                <br/>
                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div class="col-md-7 data-content" style="padding-left:65px;">
                    <div ng-show="academic">
                        <div class="row col-md-4">
                            <div class="title">
                                <p class="subhead">ACADEMIC INFO</p>
                                <hr>
                            </div>
                            <div class="content" style="margin-bottom:20px;">
                                <b>Current School</b> {{studentdetails.transcriptTerm.school.schoolName}}
                                <br/>
                                <b>Expected Graduation Year</b> {{studentdetails.transcriptTerm.schoolYear}}
                                <br/>
                                <b>Grade level</b> N/A
                                <br/>
                            </div>
                            <a href="#" class="button" ng-click="showSchoolHistory()" style="display:inline-block">SEE SCHOOL HISTORY</a>
                        </div>

                        <div class="col-md-4">
                            <div class="title">
                                <p class="subhead">&nbsp;</p>
                            </div>
                            <div class="content" style="margin-top:20px;">
                                <b>Language Spoken at Home</b> N/A
                                <br/>
                                <b>IEP</b> N/A
                                <br/>
                                <b>S504</b> N/A
                                <br/>
                                <b>Free or Reduced Lunch</b> N/A
                                <br/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="title">
                                <p class="subhead">CURRENT COURSES - <b>{{studentdetails.transcriptTerm.schoolYear}}</b></p>
                                <hr>
                            </div>
                            <div class="content">
                                <div ng-repeat="course in studentdetails.transcriptTerm.courses.course | unique: 'courseTitle' ">
                                    <span>{{course.courseTitle}}</span>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div ng-show="sch_history">

                        <div class="title">
                            <p class="subhead">School History</p>
                        </div>
                        <div class="content">

                            <scrollable-table watch="visibleProjects">

                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>School Name</th>
                                            <th>School Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="sch_history" ng-repeat="data in studentdetails.otherTranscriptTerms.transcriptTerm | orderBy: '-schoolYear'">
                                            <td>
                                                {{data.school.schoolName}}
                                            </td>
                                            <td>
                                                {{data.schoolYear}}
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </scrollable-table>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <a href="#" class="button pull-right" ng-click="closeSchoolHistory()" ng-show="sch_history">Close</a>
                </div>

            </div>
            <!-- end of row -->

            <div class="clearfix"></div>

            <a href="javascript:void(0)" onclick="hideContent(this)" class="pull-right menu-up" style="display: block;"><i class="glyphicon glyphicon-menu-up"></i></a>
            <a href="javascript:void(0)" onclick="showContent(this)" class="pull-right menu-down" style="display: none;"><i class="glyphicon glyphicon-menu-down"></i></a>

        </div>

    </div>

</div>
<div>
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="javascript:;" role="tab" data-toggle="tab" data-target="#attendance_and_behavior">ATTENDANCE AND BEHAVIOR</a></li>
                <li><a href="javascript:;" role="tab" data-toggle="tab" data-target="#program_participation">PROGRAM PARTICIPATION</a></li>
                <li><a href="javascript:;" role="tab" data-toggle="tab" data-target="#transcript">TRANSCRIPT</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="attendance_and_behavior">
                    <ul class="flexbox attendance-behavior">
                        <li>
                            ATTENDANCE DATES
                            <span class="first-col-separator">
                            </span>
                        </li>
                        <li>M</li>
                        <li>T</li>
                        <li>W</li>
                        <li>TH</li>
                        <li>F</li>
                        <li>
                             <span class="last-col-separator">
                            </span>
                            DELTA CHANGE
                        </li>
                    </ul>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel attendance-behavior">

                            <div class="panel-heading attendance-behavior" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                
                                 <ul class="flexbox attendance-behavior">
                                    <li>
                                        7/21/15 - 7/31/15
                                        <span class="first-col-separator-list">
                            </span>
                                     </li>
                                    <li>100%</li>
                                    <li>100%</li>
                                    <li class="unexcused">10%</li>
                                    <li>100%</li>
                                    <li>100%</li>
                                    <li>
                                        <span class="last-col-separator-list">
                            </span>
                                        -12%
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="true" aria-controls="collapseOne" data-target="#collapseOne" class="header-icon-attendance glyphicon glyphicon-chevron-down pull-right"></a>
                                     </li>
                                </ul>   
                                
                            </h4>
                            </div>
                            <!-- panel heading -->
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body attendance-behavior">
                                    <div class="period-col">
                                        <ul class="period-col menu">
                                            <li>PERIOD 1</li>
                                            <li>PERIOD 2</li>
                                            <li>PERIOD 3</li>
                                            <li>PERIOD 4</li>
                                            <li>PERIOD 5</li>
                                            <li>PERIOD 6</li>
                                            <li>&nbsp;</li>
                                            <li>BEHAVIOR</li>
                                        </ul>
                                    </div>
                                    <div class="attendance-content">
                                        <div class="monday">
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item"></div>

                                        </div>
                                        <div class="tuesday">
                                            <div class="grid-item late"></div>
                                            <div class="grid-item excused"></div>
                                            <div class="grid-item excused"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item"></div>

                                        </div>
                                        <div class="wednesday">
                                            <div class="grid-item present"></div>
                                            <div class="grid-item late"></div>
                                            <div class="grid-item unexcused"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item"></div>
                                            <div class="grid-item unexcused"></div>
                                        </div>
                                        <div class="thursday">
                                            <div class="grid-item late"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item "></div>

                                        </div>
                                        <div class="friday">
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item "></div>

                                        </div>

                                    </div>
                                    <div class="attendance-legend ">
                                        <a ng-click="open()" class="button btn-legend open_button" ng-show="open_button">LEGEND</a>
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="true" aria-controls="collapseOne" data-target="#collapseOne" class="legend-icon-attendance glyphicon glyphicon-chevron-up pull-right"></a>
                                        <div class="panel legend-list" ng-show="icon_legend">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading">
                                                LEGEND
                                                <span ng-click="close()" class="glyphicon glyphicon-remove pull-right"></span>
                                            </div>
                                            <ul class="list-group legend-list">
                                                <li class="list-group-item present">PRESENT</li>
                                                <li class="list-group-item excused">EXCUSED</li>
                                                <li class="list-group-item late">LATE</li>
                                                <li class="list-group-item holiday">HOLIDAY</li>
                                                <li class="list-group-item unexcused">UNEXCUSED</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="panel-heading attendance-behavior" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                
                                 <ul class="flexbox attendance-behavior">
                                    <li>
                                        7/21/15 - 7/31/15
                                     <span class="first-col-separator-list">
                            </span>
                                     </li>
                                    <li>100%</li>
                                    <li>100%</li>
                                    <li class="unexcused">10%</li>
                                    <li>100%</li>
                                    <li>100%</li>
                                    <li>
                                        <span class="last-col-separator-list">
                            </span>
                                        -12%
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="true" aria-controls="collapseTwo" data-target="#collapseTwo" class="header-icon-attendance glyphicon glyphicon-chevron-down pull-right"></a>
                                     </li>
                                </ul>   
                                
                            </h4>
                            </div>
                            <!-- panel heading -->
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body attendance-behavior">
                                    <div class="period-col">
                                        <ul class="period-col menu">
                                            <li>PERIOD 1</li>
                                            <li>PERIOD 2</li>
                                            <li>PERIOD 3</li>
                                            <li>PERIOD 4</li>
                                            <li>PERIOD 5</li>
                                            <li>PERIOD 6</li>
                                            <li>&nbsp;</li>
                                            <li>BEHAVIOR</li>
                                        </ul>
                                    </div>
                                    <div class="attendance-content">
                                        <div class="monday">
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item"></div>

                                        </div>
                                        <div class="tuesday">
                                            <div class="grid-item late"></div>
                                            <div class="grid-item excused"></div>
                                            <div class="grid-item excused"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item"></div>

                                        </div>
                                        <div class="wednesday">
                                            <div class="grid-item present"></div>
                                            <div class="grid-item late"></div>
                                            <div class="grid-item unexcused"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item"></div>
                                            <div class="grid-item unexcused"></div>
                                        </div>
                                        <div class="thursday">
                                            <div class="grid-item late"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item present"></div>
                                            <div class="grid-item "></div>

                                        </div>
                                        <div class="friday">
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item holiday"></div>
                                            <div class="grid-item "></div>

                                        </div>

                                    </div>
                                    <div class="attendance-legend ">
                                        <a ng-click="open()" class="button btn-legend open_button" ng-show="open_button">LEGEND</a>
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="true" aria-controls="collapseOne" data-target="#collapseOne" class="legend-icon-attendance glyphicon glyphicon-chevron-up pull-right"></a>
                                        <div class="panel legend-list" ng-show="icon_legend">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading">
                                                LEGEND
                                                <span ng-click="close()" class="glyphicon glyphicon-remove pull-right"></span>
                                            </div>
                                            <ul class="list-group legend-list">
                                                <li class="list-group-item present">PRESENT</li>
                                                <li class="list-group-item excused">EXCUSED</li>
                                                <li class="list-group-item late">LATE</li>
                                                <li class="list-group-item holiday">HOLIDAY</li>
                                                <li class="list-group-item unexcused">UNEXCUSED</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- default panel -->



                    </div>
                    <!-- panel group -->
                </div>
                <!-- tab panel -->








                <div role="tabpanel" class="tab-pane" id="program_participation">Program participation</div>
                <div role="tabpanel" class="tab-pane" id="transcript">transcript</div>



            </div>
        </div>
    </div>
</div>
