<div class="row">
    <div class="col-md-12">
        <div class="border">
            <div class="form-group">
                <a href="#/student/add" class="btn btn-primary"><h1><i class="glyphicon glyphicon-plus"></i> Add Student</h1></a>
            </div>
            <div class="form-group">
                <form class="form-horizontal" role="form" ng-submit="searchStudent(student)">
                    <input type="text" ng-model="student.search" name="search" id="search" placeholder="Search Student"/>
                    <input type="submit" value="FILTER"/>
                </form>
            </div>
            <h1 class="page-header bold">
                Students
            </h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><h1>Name</h1></th>
                        <th><h1>School District</h1></th>
                        <th><h1>Action</h1></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in students">
                        <td>{{ student.first_name }} {{ student.last_name }}</td>
                        <td>{{ student.school_district }}</td>
                        <td>
                            <a class="btn btn-default" ng-href="#/student/detail/{{ student._id }}"><i class="fa fa-eye"></i> Detail</a>
                            <a class="btn btn-default" ng-href="#/student/programs/{{ student._id }}"><i class="fa fa-list-alt"></i> Programs</a>
                            <a ng-hide="(student.district_student_id+'').length <= 0" class="btn btn-default" ng-href="#/student/backpacks/{{ student._id }}"><i class="fa fa-list-alt"></i> Backpacks</a>
                            <a class="btn btn-danger" ng-click="deleteStudent(student._id, $index)" ng-disabled="working"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
