<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title">
                    <h1>
                        {{ 'general.students' | i18n }}
                    </h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="ng-binding help">
                    <p>{{ 'help.student_list' | i18n }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1><a href="#/student/add"><i class="glyphicon glyphicon-plus font16"></i> {{ 'general.add_a_student' | i18n }}</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="search-btn detail">
                    <input type="text" class="input-search" ng-model="search" placeholder="{{ 'general.search_student' | i18n }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 mobile-align-center">
                    <dropdown-multiselect class="no-background-color" model="selected_districts" title="District" options="districtData"></dropdown-multiselect>
                    <dropdown-multiselect class="no-background-color" model="selected_schools" title="School" options="schoolNameData"></dropdown-multiselect>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="selected_container">
                    <div ng-show="district_counter > 0" class="district-filter-selected">
                        {{district_counter}}
                        <ng-pluralize count="district_counter"
                                      when="{'one': 'district',
                                                 'other': 'districts'}">
                        </ng-pluralize>
                        {{ 'general.selected' | i18n }}
                    </div>
                    <div ng-show="school_counter > 0" class="school-filter-selected">{{school_counter}}
                        <ng-pluralize count="school_counter"
                                      when="{'one': 'school',
                                                 'other': 'schools'}">
                        </ng-pluralize>
                        {{ 'general.selected' | i18n }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-striped listview">
                    <thead>
                    <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'first_name';sortReverse = !sortReverse">
                                {{ 'general.name' | i18n }}
                                <span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'district_student_id';sortReverse = !sortReverse">
                                {{ 'general.district_student_id' | i18n }}
                                <span ng-show="sortType == 'district_student_id' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'district_student_id' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'school_district';sortReverse = !sortReverse">
                                {{ 'general.school_district' | i18n }}
                                <span ng-show="sortType == 'school_district' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'school_district' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'gradeLevel';sortReverse = !sortReverse">
                                {{ 'general.gradeLevel' | i18n }}
                                <span ng-show="sortType == 'gradeLevel' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'gradeLevel' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'schoolName';sortReverse = !sortReverse">
                                {{ 'general.current_school' | i18n }}
                                <span ng-show="sortType == 'schoolName' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'schoolName' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'attendance';sortReverse = !sortReverse">
                                {{ 'general.attendance' | i18n }}
                                <span ng-show="sortType == 'attendance' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'attendance' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'behavior';sortReverse = !sortReverse">
                                {{ 'general.behavior' | i18n }}
                                <span ng-show="sortType == 'behavior' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'behavior' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'onTrackGraduate';sortReverse = !sortReverse">
                                {{ 'general.on_track_to_graduate' | i18n }}
                                <span ng-show="sortType == 'onTrackGraduate' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                <span ng-show="sortType == 'onTrackGraduate' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                            </a>
                        </th>
                        <th class="text-center" style="width:5%;">{{ 'general.edit' | i18n }}</th>
                        <th class="text-center" style="width:5%;">{{ 'general.delete' | i18n }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in students | filter:search | filter:filterDistrict() | filter:filterSchools()|orderBy:sortType:sortReverse">
                        <td><a ng-href="#/student/detail/{{ student._id }}">{{ student.first_name }} {{ student.last_name }}</a></td>
                        <td>{{student.district_student_id}}</td>
                        <td>{{ student.school_district }}</td>
                        <td ng-bind-html="student.gradeLevel"></td>
                        <td ng-bind-html="student.schoolName"></td>
                        <td >
                            <div ng-if="student.xsre.attendance.flag === 'SUCCESS'" class="attendance-icon">
                                <list-attendance url="{{urlTemplate}}" label="{{success_label}}" info="{{student.attendance}}" items="{{student.xsre.attendance.notes.items}}"></list-attendance>
                            </div>
                            <div ng-if="student.xsre.attendance.flag === 'WARNING'" class="attendance-icon">
                                <list-attendance url="{{urlTemplate}}" label="{{warning_label}}" info="{{student.attendance}}" items="{{student.xsre.attendance.notes.items}}"></list-attendance>
                            </div>
                            <div ng-if="student.xsre.attendance.flag === 'DANGER'" class="attendance-icon">
                                <list-attendance url="{{urlTemplate}}" label="{{danger_label}}" info="{{student.attendance}}" items="{{student.xsre.attendance.notes.items}}"></list-attendance>
                            </div>
                        </td>
                        <!--<td ng-bind-html="student.behavior"></td>-->
                        <td>
                            <div ng-if="student.xsre.behavior.flag === 'SUCCESS'" class="behavior-icon">
                                <list-attendance url="{{urlTemplate}}" label="{{success_label}}" info="{{student.behavior}}" items="{{student.xsre.behavior.notes.items}}"></list-attendance>
                            </div>
                            <div ng-if="student.xsre.behavior.flag === 'DANGER'" class="behavior-icon">
                                <list-attendance url="{{urlTemplate}}" label="{{danger_label}}" info="{{student.behavior}}" items="{{student.xsre.behavior.notes.items}}"></list-attendance>
                            </div>
                        </td>
                        <td>
                            <div ng-if="student.onTrackGraduate === 'Y'">
                                <span class="glyphicon glyphicon-ok-sign alert-success on-track-icon" aria-hidden="true"></span>
                            </div>
                            <div ng-if="student.onTrackGraduate === 'N'">
                                <span class="glyphicon glyphicon-remove-sign alert-danger on-track-icon" aria-hidden="true"></span>
                            </div>
                            <div ng-if="student.onTrackGraduate === 'U'">
                                <span class="glyphicon glyphicon-minus-sign on-track-icon" aria-hidden="true"></span>
                            </div>
                        </td>
                        <td class="text-center">
                            <a class="glyphicon glyphicon-pencil" ng-href="#/student/edit/{{ student._id }}"></a>
                        </td>
                        <td class="text-center">
                            <!--<a class="glyphicon glyphicon-trash" confirmed-click="deleteStudent(student._id, $index)"  ng-confirm-click="{{ 'general.confirm_delete' | i18n }}" ng-disabled="working"></a>-->
                            <a class="glyphicon glyphicon-trash" ng-click="deleteStudent(student._id, $index)"ng-disabled="working"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    if(document.getElementById("programList")){
        document.getElementById("programList").remove();
    }else if(document.getElementById("studentList")){
        document.getElementById("studentList").remove();
    }else if (document.getElementById("userList")){
        document.getElementById("userList").remove();
    }else if(document.getElementById("programStudentAssignList")){
        document.getElementById("programStudentAssignList").remove();
    }else if(document.getElementById("applicationList")){
        document.getElementById("applicationList").remove();
    }else if(document.getElementById("enrollmentList")){
        document.getElementById("enrollmentList").remove();
    }
    var cssId = 'studentList';  // you could encode the css path itself to generate id..
    if (!document.getElementById(cssId))
    {
        var head  = document.getElementsByTagName('head')[0];
        var link  = document.createElement('link');
        link.id   = cssId;
        link.rel  = 'stylesheet';
        link.type = 'text/css';
        link.href = 'asset/css/responsive-student-table.css';
        head.appendChild(link);
    }
</script>