<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1><a href="#/student/add"><i class="glyphicon glyphicon-plus font16"></i> Add A Student</a></h1>
                    <form class="form-inline" role="form" ng-submit="searchStudent(student)">
                        <input type="text" class="form-control" ng-model="student.search" name="search" id="search" placeholder="Search Student"/>
                        <input type="submit" value="FILTER" class="button"/>
                    </form>
                </div>
                <div class="content">

                    <h1 class="bold">Students</h1>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><h1>Name</h1></th>
                                <th><h1>School District</h1></th>
                                <th><h1>Action</h1></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="student in students">
                                <td>{{ student.first_name }} {{ student.last_name }}</td>
                                <td>{{ student.school_district }}</td>
                                <td>
                                    <a class="btn btn-default" ng-href="#/student/detail/{{ student._id }}"><i class="fa fa-eye"></i> Detail</a>
                                    <a class="btn btn-default" ng-href="#/student/programs/{{ student._id }}"><i class="fa fa-list-alt"></i> Programs</a>
                                    <a ng-hide="(student.district_student_id+'').length <= 0" class="btn btn-default" ng-href="#/student/backpacks/{{ student._id }}"><i class="fa fa-list-alt"></i> Backpacks</a>
                                    <a class="btn btn-danger" ng-click="deleteStudent(student._id, $index)" ng-disabled="working"><i class="fa fa-remove"></i> Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
