<div class="row" >

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1>
                        {{ 'general.add_what_program' | i18n:[student.first_name + ' ' + student.last_name] }}
                    </h1>
                    <hr>
                </div>
                <div class="content">

                    <form class="form-horizontal" role="form" ng-submit="addProgramStudent(program)">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="programId">{{ 'general.program' | i18n }}:</label>
                            <div class="col-sm-9">
                                <select style="border:1px solid black;padding:7px;" class="btn-block" ng-model="program.programId" id="programId" required autofocus
                                        ng-options="program._id as program.name for program in list_program">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'general.status' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="" ng-model="program.active" id="active"> <label for="active">{{ 'general.active' | i18n }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="participation_start_date">{{ 'general.participation_start_date' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="program.participation_start_date" id="participation_start_date" ui-date>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="participation_end_date">{{ 'general.participation_end_date' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="program.participation_end_date" id="participation_end_date" ui-date>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cohort">{{ 'general.cohort' | i18n }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="program.cohort" id="cohort">
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary" ng-disabled="working">{{ 'general.submit' | i18n }}</button>
                                <a href="#/student/programs/{{ student._id }}" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
