$white:#fff;
$purple:#8749ad;
$cyan:#74d5d6;
$orange:#ffae29;
$teal:#4eb8b9;
$dark-grey:#5b666c;
$grey:#aab3b8;
$pink:#f84283;
$black:#1d272c;
$light-black:#28353b;

$font-family-kreon: "Kreon",serif!default;
$font-family-open-sans: "Open Sans", sans-serif!default;