<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 card">
            <div class="col-xs-12">
                <div class="title">
                    <h1 class="headline-title">{{ 'general.profile' | i18n }} {{ user.full_name }}</h1>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" ng-submit="editProfile(user)">
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 control-label" for="email">{{ 'general.email' | i18n }}:</label>
                        <div class="col-xs-12 col-md-9">
                            <input value="{{user.email}}" id="email" type="text" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 control-label" for="first_name">{{ 'general.first_name' | i18n }}:</label>
                        <div class="col-xs-12 col-md-9">
                            <div confirmed-action="editProfile(user)" ng-click="activateEditable()" contentEditable={{editable}} class="form-control" ng-model="user.first_name" id="first_name">{{user.first_name}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 control-label" for="middle_name">{{ 'general.middle_name' | i18n }}:</label>
                        <div class="col-xs-12 col-md-9">
                            <div confirmed-action="editProfile(user)" ng-click="activateEditable()" contentEditable={{editable}} class="form-control" ng-model="user.middle_name" id="middle_name">{{user.middle_name}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 control-label" for="last_name">{{ 'general.last_name' | i18n }}:</label>
                        <div class="col-xs-12 col-md-9">
                            <div confirmed-action="editProfile(user)" ng-click="activateEditable()" contentEditable={{editable}} class="form-control" ng-model="user.last_name" id="last_name">{{user.last_name}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 control-label" for="password">{{ 'general.password' | i18n }}:</label>
                        <div class="col-xs-12 col-md-9">
                            <input type="password" class="form-control" ng-model="user.password" id="password" ng-disabled="passwordDisabled === true">
                            <!--<p class="help-block">Leave it empty, if you doesn't want change the password</p>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 control-label" for="password">{{ 'general.retype_password' | i18n }}:</label>
                        <div class="col-xs-12 col-md-9">
                            <input type="password" class="form-control" ng-model="user.retype_password" id="retype_password" ng-disabled="passwordDisabled === true">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-offset-2 col-md-9">
                            <button type="submit" class="btn btn-primary" ng-disabled="working">{{ 'general.save' | i18n }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
