<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">

                <div class="title">
                    <h1>
                        {{ 'general.change_password' | i18n | uppercase }} {{ user.first_name }} {{ user.last_name }}
                    </h1>
                    <hr>
                </div>

                <div class="content">

                    <form class="form-horizontal" role="form" ng-submit="editProfile(user)">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="password">{{ 'general.password' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" ng-model="user.password" id="password">
                                <!--<p class="help-block">Leave it empty, if you doesn't want change the password</p>-->
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary" ng-disabled="working">{{ 'general.submit' | i18n }}</button>
                                <a href="#/profile" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>

