<div class="row" >

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1><a href="#/program/add"><i class="glyphicon glyphicon-plus font16"></i> {{ 'general.add_program' | i18n }}</a></h1>
					<form class="form-inline" role="form" ng-submit="searchStudent(student)">
                        <input type="text" class="form-control" ng-model="search" name="search" id="search" placeholder="{{ 'general.search_program' | i18n }}"/>
						  <span class="glyphicon glyphicon-search btn" aria-hidden="true"></span>
                    </form>
                </div>
                <div class="content">

                    <h1 class="bold">{{ 'general.programs' | i18n }}</h1>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <!--<th>{{ 'general.ID' | i18n }}</th>-->
                                <th>{{ 'general.program_name' | i18n }}</th>
                                <th>{{ 'general.created' | i18n }}</th>
                                <th>{{ 'general.last_update' | i18n }}</th>
                                <th class="text-center" style="width:9%">{{ 'general.assign_students' | i18n }}</th>
                                <th class="text-center" style="width:9%">{{ 'general.delete' | i18n }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="program in programs | filter:search">
                                <!--<td>{{ program._id }}</td>-->
                                <td><a ng-href="#/program/detail/{{ program._id }}">{{ program.name }}</a></td>
                                <td>{{ program.created | date : 'MM/dd/yyyy HH:mm:ss' : timezone }}</td>
                                <td>{{ program.last_updated | date : 'MM/dd/yyyy HH:mm:ss' : timezone }}</td>
                                <td class="text-center">
                                    <a class="fa fa-users" ng-href="#/program/students/{{ program._id }}"></a>
									</td>
									<td class="text-center">
									<a class="glyphicon glyphicon-trash" confirmed-click="deleteProgram(program._id, $index)"  ng-confirm-click="{{ 'general.confirm_delete' | i18n }}" ng-disabled="working"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
