<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1><a href="#/program/add"><i class="glyphicon glyphicon-plus font16"></i> Add Program</a></h1>
					<form class="form-inline" role="form" ng-submit="searchStudent(student)">
                        <input type="text" class="form-control" ng-model="search" name="search" id="search" placeholder="Search Student"/>
                        <input type="submit" value="FILTER" class="button"/>
                    </form>
                </div>
                <div class="content">

                    <h1 class="bold">Programs</h1>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <!--<th>ID</th>-->
                                <th>Program Name</th>
                                <!--<th>Created</th>-->
                                <!--<th>Last Update</th>-->
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="program in programs | filter:search">
                                <!--<td>{{ program._id }}</td>-->
                                <td><a ng-href="#/program/detail/{{ program._id }}">{{ program.name }}</a></td>
                                <!--<td>{{ program.created | date : 'yyyy-MM-dd HH:mm:ss' : timezone }}</td>-->
                                <!--<td>{{ program.last_updated | date : 'yyyy-MM-dd HH:mm:ss' : timezone }}</td>-->
                                <td class="text-center">
                                    <a class="glyphicon glyphicon-user" ng-href="#/program/students/{{ program._id }}"></a>
									<a class="glyphicon glyphicon-trash" confirmed-click="deleteProgram(program._id, $index)"  ng-confirm-click="Are you sure want to delete this record?" ng-disabled="working"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
