<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1>
                        <a href="#/program/students/{{ program._id }}/add"><i class="glyphicon glyphicon-plus font16"></i> Add Student To {{program.name}}</a>
                    </h1>
					<form class="form-inline" role="form" ng-submit="searchStudent(student)">
                        <input type="text" class="form-control" ng-model="search" name="search" id="search" placeholder="Search Student"/>
                        <input type="submit" value="FILTER" class="button"/>
                    </form>
                </div>
                <div class="content">

                    <h1> {{ program.name }} Student</h1>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
								<th>Active</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Cohorts</th>
								<th class="text-center" style="width:8%">Edit</th>
								<th class="text-center" style="width:8%">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="student in students | filter:search">
                                <td><a href="#/student/edit/{{ student._id }}">{{ student.name }}</a></td>
								<td><input type="checkbox" ng-model="student.active" ng-disabled="true"/></td>
								<td>{{student.start_date | date : 'MM/dd/yyyy' : timezone}}</td>
								<td>{{student.end_date | date : 'MM/dd/yyyy' : timezone}}</td>
								<td>{{student.cohort}}</td>
								<td class="text-center">
                                    <a class="glyphicon glyphicon-pencil" ng-href="#/program/students/{{program._id}}/edit/{{student._id}}"></a>
									</td>
								<td class="text-center"><a class="glyphicon glyphicon-trash" confirmed-click="deleteStudent(student._id, $index)"  ng-confirm-click="Are you sure want to delete this record?" ng-disabled="working"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
