<div class="row" >

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1>
                        {{ 'general.add_for' | i18n:['Tag'] }}
                    </h1>
                    <hr>
                </div>
                <div class="content">

                    <form class="form-horizontal" role="form" ng-submit="addTag(tag)">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">{{ 'general.name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="tag.name" id="name" required>
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary" ng-disabled="working">{{ 'general.submit' | i18n }}</button>
                                <a href="#/tag" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
