/*.container {*/
    /*margin: 0 1%;*/
    /*display: block;*/
/*}*/
/*.col-md-1 {*/
    /*width: 15.33%;*/
    /*position: relative;*/
    /*float: left;*/
    /*clear: none;*/
/*}*/
/*.col-md-2 {*/
    /*width: 16.67%;*/
    /*position: relative;*/
    /*float: left;*/
    /*clear: none;*/
/*}*/
/*.col-md-3 {*/
    /*width: 24.99%;*/
    /*position: relative;*/
    /*float: left;*/
    /*clear: none;*/
/*}*/
/*.col-md-4 {*/
    /*width: 33%;*/
    /*position: relative;*/
    /*float: left;*/
    /*clear: none;*/
/*}*/
.col-md-1.start {
    width: 23%;
    border-top: 1px solid #fff;
}
.col-md-1.end {
    width: 23%;
    border-bottom: 1px solid #fff;
}
.astable {
    display: table;
}
.asrow {
    display: table-row;
}
.ascell {
    display: table-cell;
}
.list {
    position: relative;
    font-size: 12px;
    line-height: 49px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0px 5px;
    z-index: 10;
    width: 175px;
}
.centered {
    text-align: center;
}
.present-legend {
    background-color: aqua;
    font-weight: bold;
    color: black;
}
.excused-legend {
    background-color: crimson;
    font-weight: bold;
    color: black;
}
.late-legend {
    background-color: #8B4A94;
    font-weight: bold;
    color: black;
}
.holiday-legend {
    background-color: mediumpurple;
    font-weight: bold;
    color: black;
}
.unexcused-legend {
    background-color: lightcoral;
    font-weight: bold;
    color: black;
}
.start {
    text-indent: 0px;
    border-top: 1px solid #fff;
    line-height: 49px;
}
.end {
    line-height: 49px;
    border-bottom: 1px solid #fff;
}
.start.end {
    line-height: 49px;
}
.list .descriptor {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 92%;
    background-color: #fff;
    border: 1px solid #222;
    padding: 0px 2px;
    font-size: 10px;
    line-height: 12px;
    display: none;
    text-indent: 0px;
}
.list:hover {
    z-index: 100;
}
.list:hover .descriptor {
    display: block;
    height: auto;
}
.panel .legend {
   margin-left: 81%;
    margin-right: -12%;

}
.icon-legend {
    left: 79%;
}
.icon-legend:hover {
    cursor: pointer;
}
.button-legend {
    position: relative;
    left: 16%;
    margin-top: 1%;
}
