#student-graph{
    overflow: auto;
    width: 100%;
    padding: 20px 10px 10px;
}
.modal-body.enrollment{
    padding: 0;
}
.no-padding-left-right{
    padding-left: 0;
    padding-right: 0;
}
.search-btn.detail{
    position: relative;
    margin-top: 8px;
}
.att-content.behavior-center{
    padding-top: 10px;
    line-height: 1.5;
}
.scrollArea table th .box {
    padding: 0px 11px 0px 0px!important;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    position: relative;
    top: 6px;
}
.modal-header{
    border-bottom: none;
}
h1.stat:after{
    content:"\e185";
    font-family:"Glyphicons Halflings";
    /*line-height:1;*/
    margin: -2px;
    display:inline-block;
}
.enrollment-divider{
    width: 100%;
    margin: 10px 0px;
    height: 2px;
    background: transparent linear-gradient(135deg, #EF7700 0%, #F2A900 37%, #F2CC10 69%, #FCE623 100%) repeat scroll 0% 0%;
}
li.first-column{
    text-align: left!important;
    padding: 10px!important;
    width: 16%;
}
.student-summary .title{
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.transcript-title{
    font-weight: bold;
}
dl{
    margin-bottom: 0;
}
.popover-content{
    width:180px;
}
.no-data {
    margin: 0;
    padding: 25px;
}
.inline{
    display: inline;
}
.no-background-color{
    background-color:transparent!important;
}
.filter-btn{
    width: 250px!important;
    margin-bottom: 0;
}
.student-edit-btn{
    float: right;
    top: 5px;
    position: relative;
}
.no-padding{
    padding:0!important;
}
.no-margin{
    margin: 0!important;
}
.no-padding-left{
    padding-left:0;
}
.panel-body.attendance-behavior {
    border-top: none!important;
}
.flexbox.attendance-behavior.attendance-detail {
    background-color: #d7f0f4;
}
.personal {
    margin-top: 20px;
}
.space-left {
    padding-left: 65px;
}
.display-blk {
    display: block;
}
.display-none {
    display: none;
}
.top-space {
    margin-top: 0;
}
.display-inline-blk {
    display: inline-block;
}
.bottom-space {
    /*margin-bottom: 20px;*/
    margin-bottom:0;
}

.hoverable:not(:hover) + .show-on-hover {
    display: none;
}
* {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
ul.nav.nav-tabs.nav-justified li,
.panel.attendance-behavior {
    background-color: #B1E0E8;
    border: 0px;
}
ul.nav.nav-tabs.nav-justified li a {
    color: black;
}
ul.flexbox.attendance-behavior,
ul.flexbox.program_participation,
ul.flexbox.transcript-content {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    margin: 0;
    padding: 0;
}
.uppercase{
    text-transform: uppercase;
}
ul.attendance-behavior li.attendance-date{
    width: 25%;
}

ul.attendance-behavior li.att-content{
    width: 10%;
}
ul.attendance-behavior li.attendance-weekly{
    width: 25%;
}
ul.attendance-behavior li {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color:black;
}

.panel-heading.attendance-behavior {
    padding: 0;
    margin: 0;
}
.header-icon-attendance.glyphicon.glyphicon-chevron-down.pull-right {
    color: black;
    top: 37%;
    position: relative;
    right: 5%;
}
.legend-icon-attendance.glyphicon.glyphicon-chevron-up.pull-right {
    color: black;
    top: 360px;
    position: relative;
    right: 1%;
}
.panel-body.attendance-behavior {
    padding: 0;
    margin: 0;
}
.period-col,
.attendance-content,
.attendance-legend {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    padding-bottom: 5px;
    position: relative;
}
.period-col {
    width: 25%;
}
.attendance-content {
    width: 50%;
    padding-top:5px;
}
.attendance-legend {
    width: 25%;
    padding: 1%;
}
ul.period-col.menu {
    width: 100%;
}
ul.period-col.menu li {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
hr.attendance-separator {
    margin: 0;
    padding: 0px;
    border: 3px solid #ededed;
    top: 325px;
    position: absolute;
    width: 99%;
}

.days {
    display: block;
    width: 20%;
    height: 300px;
    margin: 0;
    padding: 1px;
    float: left;
}
.grid-item {
    float: left;
    clear: left;
    width: 98%;
    margin: 0 1%;
    padding: 0;
    height: 50px;
    display: block;
}
.present {
    background-color: #B1E0E8;
}
.excused {
    background-color: #2F9DBB;
}
.n_a {
    background-color: #efefef;
}
.tardy {
    background-color: #4E73A7;
}
.other {
    background-color: #765B74;
}
.unexcused {
    background-color: #CD5728;
}
ul.list-group.legend-list li {
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    text-indent: 0;
}
.panel.legend-list,
.panel.legend-list.panel-heading,
{
    border-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel.legend-list>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item {
    border: none !important;
}
.panel.legend-list {
    border: 1px solid #ededed;
}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.attendance-card {
    border-bottom: solid 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.border-attendance-left{
    border-left: 3px solid #aaa;
}
.border-attendance-right{
    border-right: 3px solid #aaa;
}
.last-col-separator {
    border-left: 3px solid #aaa;
    position: absolute;
    top: 50%;
    bottom: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.button.btn-legend {
    position: relative;
    left: 37%;
}
.icon-legend.glyphicon.glyphicon-remove.pull-right:hover {
    cursor: pointer;
}
.grid-item .descriptor {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px 2px;
    font-size: 10px;
    line-height: 12px;
    display: none;
    text-indent: 0px;
    z-index: 9999;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border: none;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}
.descriptor {
    border: 1px solid #aaa;
}
.grid-item:hover {
    z-index: 9999;
}
.grid-item:hover .descriptor {
    display: block;
    height: auto;
}
.light {
    opacity: 0.9;
    filter: opacity(90);
}

.light:hover {
    opacity: 1;
    filter: opacity(100);
}

/* transcript css */

.math-credits {
    background-color: #F8973A;
}
.history-credits {
    background-color: #E7BE20;
}
.language-arts-credits {
    background-color: #AEBF37;
}
.elective-credits {
    background-color: #99CA4E;
}
.language-credits {
    background-color: #72BE8F;
}
.physical-education-credits {
    background-color: #4AB8CA;
}
/*.tab-pane.transcript {*/
    /*padding: 1%;*/
/*}*/
ul.flexbox.transcript {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    margin: 0;
    padding:20px 10px 10px;
}
ul.transcript li {
    text-align: center;
    margin: 0;
}
.transcript-subject{
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    color:#fff;
    padding: 10px;
    text-transform: uppercase;
}


.btn.btn-default.transcript-school-history{
    margin-right: 10px;
}
.separator-transcript {
    width: 99.7%;
    padding: 2px;
    /* border-top: solid 2px #555; */
    margin: 10px 0 10px 0;
    height: 2px;
    background: rgb(252, 230, 35);
    background: -moz-linear-gradient(-45deg, rgba(239, 119, 0, 1) 0%, rgba(242, 169, 0, 1) 37%, rgba(242, 204, 16, 1) 69%, rgba(252, 230, 35, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(239, 119, 0, 1)), color-stop(37%, rgba(242, 169, 0, 1)), color-stop(69%, rgba(242, 204, 16, 1)), color-stop(100%, rgba(252, 230, 35, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(239, 119, 0, 1) 0%, rgba(242, 169, 0, 1) 37%, rgba(242, 204, 16, 1) 69%, rgba(252, 230, 35, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(239, 119, 0, 1) 0%, rgba(242, 169, 0, 1) 37%, rgba(242, 204, 16, 1) 69%, rgba(252, 230, 35, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(239, 119, 0, 1) 0%, rgba(242, 169, 0, 1) 37%, rgba(242, 204, 16, 1) 69%, rgba(252, 230, 35, 1) 100%);
    background: linear-gradient(135deg, rgba(239, 119, 0, 1) 0%, rgba(242, 169, 0, 1) 37%, rgba(242, 204, 16, 1) 69%, rgba(252, 230, 35, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fce623', endColorstr='#ef7700', GradientType=1);
}
ul li.transcript-content {
    padding: 0;
    margin: 0;
    font-weight: bold;
    /*letter-spacing: 1px;*/
}
.hr-transcript {
    border: 1px solid black;
    width: 15px;
    margin: 0;
    position: relative;
}
/*ul li.transcript-content:nth-child(1) {*/
    /*width: 16%;*/
/*}*/

/*ul li.transcript-content:nth-child(2) {*/
    /*width: 16.8%;*/
    /*padding-top: 2.5%;*/
    /*padding-left: 15px;*/
/*}*/
/*ul li.transcript-content:nth-child(3) {*/
    /*width: 16.8%;*/
    /*padding-top: 2.5%;*/
    /*padding-left: 15px;*/
/*}*/
/*ul li.transcript-content:nth-child(4) {*/
    /*width: 16.8%;*/
    /*padding-top: 2.5%;*/
    /*padding-left: 15px;*/
/*}*/
/*ul li.transcript-content:nth-child(5) {*/
    /*width: 16.8%;*/
    /*padding-top: 2.5%;*/
    /*padding-left: 15px;*/
/*}*/
/*ul li.transcript-content:nth-child(6) {*/
    /*width: 16.8%;*/
    /*padding-top: 2.5%;*/
    /*padding-left: 15px;*/
/*}*/
/*ul li.transcript-content:nth-child(7) {*/
    /*width: 14%;*/
    /*padding-top: 2.5%;*/
    /*padding-left: 15px;*/
/*}*/
.attempted-credit {
    position: relative;
    margin: 6px 0;
}
.descriptor-title {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 5px;
    line-height: 16px;
}
.present-font-color {
    color: #B1E0E8;
}
.excused-font-color {
    color: #2F9DBB;
}
.tardy-font-color {
    color: #4E73A7;
}
.other-font-color {
    color: #765B74;
}
.unexcused-font-color {
    color: #CD5728;
}
.math-font-color {
    color: #F8973A;
}
.history-font-color {
    color: #E7BE20;
}
.language-arts-font-color {
    color: #AEBF37;
}
.elective-font-color {
    color: #99CA4E;
}
.language-font-color {
    color: #72BE8F;
}
.pyhsical-education-font-color {
    color: #4AB8CA;
}
.flexbox.transcript li p {
    margin: 0;
}
.transcript-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*height: 420px;*/
}
.transcript-container .inner-transcript-container{
    overflow: auto;
    /*height: 420px;*/
}
.school.history {
    width: 42.6%;
    position: absolute;
    top: 128px;
    left: 30px;
    background-color: white;
    border: 1px solid #aaa;
}

.transcript-display{
    margin-bottom: 35px;
    padding: 10px 5px;

}

/*
.transcript-content .transcript-descriptor {
    position: absolute;
    top: 35%;
    width: 13%;
    margin-left: -9px;
    background-color: #fff;
    display: none;
    text-indent: 0px;
    z-index: 9999;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 30px;
}
*/
.transcript-content{
	position:relative;
}
/*.transcript-descriptor {*/
    /*position: absolute;*/
    /*/!*top: 35%;*!/*/
    /*margin-left: -9px;*/
    /*background-color: #fff;*/
    /*display: none;*/
    /*text-indent: 0px;*/
    /*z-index: 9999;*/
    /*padding-top: 5px;*/
    /*padding-left: 10px;*/
    /*padding-bottom: 30px;*/
/*}*/
.transcript-descriptor{
    position: absolute;
    /* top: 35%; */
    margin-left: 0;
    background-color: #fff;
    display: none;
    text-indent: 0px;
    z-index: 9999;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 30px;
    width: 96%;
    padding-right: 5px;
}
@media (max-width: 1280px) {
    .studentdetail-filter{
        position: relative;
        left: 43%;
        width: 200px;
    }
    ul.transcript li:nth-child(2) {
        width: 16.8%;
        font-size: 14px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        padding-top: 3%;
    }
    ul.transcript li:nth-child(3) {
        width: 16.8%;
        font-size: 14px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        padding-top: 3%;
    }
    ul.transcript li:nth-child(4) {
        width: 16.8%;
        font-size: 14px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        padding-top: 3%;
    }
    ul.transcript li:nth-child(5) {
        width: 16.8%;
        font-size: 14px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        padding-top: 3%;
    }
    ul.transcript li:nth-child(6) {
        width: 16.8%;
        font-size: 14px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        padding-top: 3%;
    }
    ul.transcript li:nth-child(7) {
        width: 15%;
        font-size: 14px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        padding-top: 3%;
    }
    ul li.transcript-content:nth-child(2) {
        width: 16.8%;
        padding-top: 0;
        padding-left:0;
    }
    ul li.transcript-content:nth-child(3) {
        width: 16.8%;
        /*padding-top: 3.9%;*/
        /*padding-left: 25px;*/
        padding-top: 0;
        padding-left:0;
    }
    ul li.transcript-content:nth-child(4) {
        width: 16.8%;
        /*padding-top: 3.9%;*/
        /*padding-left: 25px;*/
        padding-top: 0;
        padding-left:0;
    }
    ul li.transcript-content:nth-child(5) {
        width: 16.8%;
        /*padding-top: 3.9%;*/
        /*padding-left: 25px;*/
        padding-top: 0;
        padding-left:0;
    }
    ul li.transcript-content:nth-child(6) {
        width: 16.8%;
        /*padding-top: 3.9%;*/
        /*padding-left: 25px;*/
        padding-top: 0;
        padding-left:0;
    }
    ul li.transcript-content:nth-child(7) {
        width: 14%;
        padding-top: 3.9%;
        padding-left: 25px;
    }
    .school.history {
        width: 41.6%;
        position: absolute;
        top: 128px;
        left: 25px;
        background-color: white;
        border: 1px solid #aaa;
    }
    /*
	.transcript-content .transcript-descriptor {
        position: absolute;
        top: 35%;
        width: 13%;
        margin-left: -30px;
        background-color: #fff;
        display: none;
        text-indent: 0px;
        z-index: 9999;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 10px
    }*/
	.transcript-content{
	position:relative;
}
.transcript-descriptor {
    position: absolute;
    /* top: 35%; */
    margin-left: 0;
    background-color: #fff;
    display: none;
    text-indent: 0px;
    z-index: 9999;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 30px;
    width: 96%;
}
    .transcript-display {
        margin-bottom: 35px;
        padding-right: 10px;
    }

    #emergency_section,#assigned_user_section{
        clear: both;
    }
}
.subhead.transcript {

    padding: 0;
    margin: 0;
    font-weight: bold;
    position: relative;
    top: 2px;
    left: 10px;
}
.subhead.separator-transcript {
    padding: 0 0 2px 0;
    position: relative;
    top: 10px;
}
.school-history.glyphicon.glyphicon-remove {
    position: relative;
    top: 25px;
    left: 95%
}
.school-history.glyphicon.glyphicon-remove:hover {
    cursor: pointer;
}
.button.transcript-school-history:hover {
    cursor: pointer;
}
.transcript-descriptor {
    border: 1px solid #aaa;
}
li.transcript-content:hover {
    z-index: 9999;
}
/*
li.transcript-content:hover .transcript-descriptor {
    display: block;
    height: auto;
}
*/
li.transcript-content>.transcript-content-array:hover .transcript-descriptor {
    display: block;
    height: auto;
}
.transcript-descriptor:hover ~ .transcript-display {
    visibility: hidden;
}

ul.flexbox.attendance-behavior,
ul.flexbox.transcript-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 1%;
}
.scrollableContainer {
    height: 310px;
    position: relative;
    padding-top: 0px;
    overflow: hidden;
}
table.school-history>tbody>tr>td,
.table.school-history>tbody>tr>th,
.table.school-history>tfoot>tr>td,
.table.school-history>tfoot>tr>th,
.table.school-history>thead>tr>td,
.table.school-history>thead>tr>th {
    padding-left: 11px!important;
    border-left: none;
}
.scrollArea table tbody tr td {
    border-bottom: none!important;
}
.table>thead>tr>th {
    border-bottom: none!important;
}
.scrollArea {
    border: none!important;
}
.scrollArea table th .box {
    border-left: none!important;
}
.scrollableContainer .headerSpacer {
    border: none!important;
    background-color: white;
}
.table tr td {
    padding-left: 5px;
}
.scrollArea table th .box {
    border-left: none!important;
    padding: 0;
}

/*-------Program Participation--------*/

ul.student-program-participation {
    padding: 0;
}
ul.student-program-participation > li {
    padding: 20px 10px 10px;
}
ul.student-program-participation > li:nth-child(even) {
    background-color: #ededed;
}
ul.student-program-participation > li:nth-child(odd) {
    background-color: white;
}
.program_date {
    margin-bottom: 1%;
}
.flexbox.program_participation > li {
    margin-right: 2%;
}
ul.cohorts {
    padding: 0;
}
.two-lines {
    width: 150px;
}
.two-lines-current-class {
    width: 245px;
}
.two-lines,.two-lines-current-class > .title{
    width:130px;
}
.aligning {
    padding-left: 0;
}

.hidden-scrollbar{
    overflow: hidden;
}
.inner-transcript-container::-webkit-scrollbar {
    display: none;
}

.loading-icon{
    position: absolute;
    top: 2em;
    left: 34em;
}
/**
 * Student Detail
 */
.ctype-1 { background-color: #F36A21; }
.ctype-2 { background-color: #47B749; }
.ctype-3 { background-color: #F58120; }
.ctype-4 { background-color: #50BE9A; }
.ctype-5 { background-color: #F5A21D; }
.ctype-6 { background-color: #51C4CF; }
.ctype-7 { background-color: #F4BF18; }
.ctype-8 { background-color: #AEC6DE; }
.ctype-9 { background-color: #F4D40F; }
.ctype-10 { background-color: #5DAADE; }
.ctype-11 { background-color: #B6D234; }
.ctype-12 { background-color: #7493CC; }
.ctype-13 { background-color: #83C441; }
.ctype-14 { background-color: #9B6AAD; }
.ctype-15 { background-color: #50B848; }
.ctype-16 { background-color: #B35FA5; }
.ctype-17 { background-color: #50BE9A; }
.ctype-18 { background-color: #D35D75; }
.ctype-19 { background-color: #51C4CF; }
.ctype-20 { background-color: #DF5E51; }
.ctype-21 { background-color: #4EC6DE; }
.ctype-22 { background-color: #EE6423; }
.ctype-23 { background-color: #FFFFFF; }

.ctype-font-1 { color: #F36A21; }
.ctype-font-2 { color: #47B749; }
.ctype-font-3 { color: #F58120; }
.ctype-font-4 { color: #50BE9A; }
.ctype-font-5 { color: #F5A21D; }
.ctype-font-6 { color: #51C4CF; }
.ctype-font-7 { color: #F4BF18; }
.ctype-font-8 { color: #AEC6DE; }
.ctype-font-9 { color: #F4D40F; }
.ctype-font-10 { color: #5DAADE; }
.ctype-font-11 { color: #B6D234; }
.ctype-font-12 { color: #7493CC; }
.ctype-font-13 { color: #83C441; }
.ctype-font-14 { color: #9B6AAD; }
.ctype-font-15 { color: #50B848; }
.ctype-font-16 { color: #B35FA5; }
.ctype-font-17 { color: #50BE9A; }
.ctype-font-18 { color: #D35D75; }
.ctype-font-19 { color: #51C4CF; }
.ctype-font-20 { color: #DF5E51; }
.ctype-font-21 { color: #4EC6DE; }
.ctype-font-22 { color: #EE6423; }
.ctype-font-23 { color: #FFFFFF; }

.tc-1-col{
    width: 84%!important;
}
.tc-2-col{
    width: 42%!important;
}
.tc-3-col{
    width: 28%!important;
}
.tc-4-col{
    width: 21%!important;
}
.tc-5-col{
    width: 16.8%!important;
}
.tc-6-col{
    width: 14%!important;
}
.tc-7-col{
    width: 12%!important;
}
.tc-8-col{
    width: 10.5%!important;
}
.tc-9-col{
    width: 9.3333%!important;
}
.tc-10-col{
    width: 8.4%!important;
}
.tc-11-col{
    width: 7.6363%!important;
}
.tc-12-col{
    width: 7%!important;
}
.tc-13-col{
    width: 6.4615%!important;
}
.tc-14-col{
    width: 6%!important;
}
.tc-15-col{
    width: 5.6%!important;
}
.tc-16-col{
    width: 5.25%!important;
}
.tc-17-col{
    width: 4.9411%!important;
}
.tc-18-col{
    width: 4.6666%!important;
}
.tc-19-col{
    width: 4.4210%!important;
}
.tc-20-col{
    width: 4.2222%!important;
}
.tc-21-col{
    width: 4%!important;
}
.tc-22-col{
    width: 3.8181%!important;
}

.tcontent-1-col{
    width: 84%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-2-col{
    width: 42%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-3-col{
    width: 28%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-4-col{
    width: 21%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-5-col{
    width: 16.8%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-6-col{
    width: 14%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-7-col{
    width: 12%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-8-col{
    width: 10.5%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-9-col{
    width: 9.3333%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-10-col{
    width: 8.4%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-11-col{
    width: 7.6363%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-12-col{
    width: 7%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-13-col{
    width: 6.4615%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-14-col{
    width: 6%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-15-col{
    width: 5.6%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-16-col{
    width: 5.25%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-17-col{
    width: 4.9411%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-18-col{
    width: 4.6666%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-19-col{
    width: 4.4210%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-20-col{
    width: 4.2222%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-21-col{
    width: 4%!important;
    padding-top: 0!important;
    padding-left:0!important;
}
.tcontent-22-col{
    width: 3.8181%!important;
    padding-top: 0!important;
    padding-left:0!important;
}

.dark{
background-color:#eee;
}

.icon-ok {
    /*background: url(../img/check-small.png);*/
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
}

.icon-ok:before{
    content: "\e013";
    font-family:"Glyphicons Halflings";
    line-height:1;
    display:inline-block;
}

.filter-caret{
    position: relative!important;
    left: 15px!important;
}

dt:before {
    content: "";
    display: block;
}
dt, dd {
    display: inline;
}

.list-dropdown-padding{
    padding: 5px!important;
}
.list-dropdown-padding:hover{
    cursor: pointer;
}
.popover{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white!important;
}

.studentdetail-filter{
    position: relative;
    left: 43%;
    width: 200px;
    margin:20px 0 0;
}
.transcript-json{
    color:#29B6D8;
}
.transcript-json:hover{
    cursor: pointer;
    color: #337ab7;
}
.font-bold{
    font-weight: bold;
}

/*FIXED HEADER*/
.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 14.28%;
    float: left;
}
.modal-dialog.enrollment{
    width: 700px;
    margin: 30px auto;
}
td.school-name{

}
td.school-year{
    padding-left: 13px !important;
}
td.entry-date{
    padding-left: 14px !important;
}
td.exit-date{
    padding-left: 15px !important;
}
td.grade-level{
    padding-left: 20px !important;
}
td.status{
    padding-left: 20px !important;
}
td.description{
    padding-left: 22px !important;
}
