/*
===============================================
==================== INDEX ====================
===============================================
I ALL
1.Body
2.Header
  2a.Menu
3.Container
  3a.Login/Forget Form
4.Footer
5.Utility

II MEDIA
@media (max-width:767px)
1.Header

@media (min-width:768px)
1.Header

*/

/*
===============================================
==================== 1.Body ===================
===============================================
*/
body
{
    margin-bottom: 50px;
}
h1
{
    font-size: 18px;
}


/*
===============================================
================== 2.Header ===================
===============================================
*/
.navbar
{
    position: fixed;
    margin-bottom: 0;
    height: 100%;
    left: 0;
    overflow: auto;
}

/*
===============================================
=================== 2a.Menu ===================
===============================================
*/
.navbar-nav .dropdown-menu > li > a,
.navbar-right .dropdown-menu > li > a
{
    color: #9d9d9d;
}
.navbar-nav .dropdown-menu > li > a:hover,
.navbar-right .dropdown-menu > li > a:hover
{
    background: transparent;
    background-image: none;
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover
{
    background: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}


/*
===============================================
================= 3.Container =================
===============================================
*/
.container
{
    padding: 0;
    position: relative;
}
.container-full
{
    width: 99%;
    margin: auto;
    position: relative;
}
.border
{
    border: 1px #000 solid;
    padding: 25px 50px;
}
.content-info
{
    margin-bottom: 50px;
}
.update-info
{
    font-size: 14px;
    margin-top: 20px;
}
.icon-window
{
    float: right;
    margin-top: -15px;
    margin-right: -35px;
}


/*
===============================================
============= 3a.Login/Forget Form ============
===============================================
*/
#login-container,
#forget-container
{
    padding: 50px 100px;
}


/*
===============================================
=================== 4.Footer ==================
===============================================
*/



/*
===============================================
================== 5.Utility ==================
===============================================
*/
.top15
{
    margin-top: 15px;
}
.bold
{
    font-weight: bold;
}
.ng-hide
{
    display: none;
}
.glyphicon-spin
{
    -webkit-animation: glyphicon-spin 2s infinite linear;
    animation: glyphicon-spin 2s infinite linear;
}
@-webkit-keyframes glyphicon-spin
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes glyphicon-spin
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/*
===============================================
=========== media (max-width:767px) ===========
===============================================
*/
@media (max-width:767px) {

    /*
    ===============================================
    =================== 2.Header ==================
    ===============================================
    */
    .navbar
    {
        width: 75px;
    }

    /*
    ===============================================
    =================== 2a.Menu ===================
    ===============================================
    */
    #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        bottom:0;
        width: 80%;
        left: -80%;
        background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
        background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
        background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        z-index: -1;
    }
    #navbar #slidemenu
    {
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 1;
        margin: 0;
    }
    .navbar.slide-active
    {
        width: 80%;
        z-index: 2;
    }
    #navbar .navbar-toggle.slide-active .icon-bar {
        background: orange;
    }
    #navbar .navbar-brand
    {
        display: none;
    }
    #navbar .navbar-header.slide-active .navbar-brand
    {
        display: block;
    }
    #navbar #slidemenu.slide-active .navbar-nav
    {
        margin: 7.5px 10px;
    }

    /*
    ===============================================
    ================= 3.Container =================
    ===============================================
    */
    .container
    {
        width: calc(100% - 75px);
        margin-left: 75px;
    }

}


/*
===============================================
=========== media (min-width:768px) ===========
===============================================
*/
@media (min-width:768px) {

    /*
    ===============================================
    =================== 2.Header ==================
    ===============================================
    */
    .navbar
    {
        width: 15%;
    }

    /*
    ===============================================
    =================== 2a.Menu ===================
    ===============================================
    */
    #navbar
    {
        padding: 35px 10px 10px 10px;
        overflow-x: hidden;
    }
    .navbar-header
    {
        float: none;
    }
    .navbar-nav
    {
        float: none;
    }
    .navbar-right
    {
        float: none !important;
    }
    .navbar-nav li,
    .navbar-right li
    {
        float: none;
    }
    .navbar-nav .dropdown-menu,
    .navbar-right .dropdown-menu
    {
        position: relative;
        float: none;
        background-color: transparent;
        box-shadow: none;
        border: 0;
    }

    /*
    ===============================================
    ================= 3.Container =================
    ===============================================
    */
    .container
    {
        width: 85%;
        margin-left: 15%;
    }


    /*
    ===============================================
    ================== 5.Utility ==================
    ===============================================
    */
    .border-right
    {
        border-right: 1px #000 solid;
    }

}