.tab-content{
    background-color: white;
}
.no-border{
    border: none;
    margin-bottom: 0;
}
.header-tabs-title{
    font-size: 14px;
    font-weight: bold;
    color:black;
}

.ng-isolate-scope{
    background-color: darkturquoise;
    border-radius: none;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 0 0;
}

.attendance-menu li{
    float: left;
    padding: 0 80px
}
.attendance-menu li:nth-child(1) {
    padding-left: 15px;
}

.attendance-menu li:nth-child(2) {
    border-left: 2px solid grey;
}

.attendance-menu li:nth-child(6) {
    border-right: 2px solid grey;
}

.attendance-menu li:nth-child(7) {
    padding-left: 11%;
}

.attendance-collapse-menu{
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    
}
.attendance-collapse-menu:hover{
    color:black
    
}
.attendance-collapse-menu a{
    text-decoration:none;
    color:black;
    
}
.attendance-collapse-menu:lostfocus{
    color:black
    
}
.attendance-collapse-menu li{
    display: inline;
    padding: 10px;
    
}
