<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title">
                    <h1>{{ 'general.applications' | i18n }}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="ng-binding help">
                    <!--<p>{{ 'help.user_list' | i18n }}</p>-->
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form class="form-horizontal" role="form" ng-submit="createKey(apps)">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="app_name">{{ 'general.application_name' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-model="apps.app_name" id="app_name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="userId">{{ 'general.user' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <select class="btn-block" ng-model="apps.user_id" id="userId" required autofocus ng-options="user._id as user.first_name+' '+user.last_name for user in list_users">
                            </select>
                        </div>
                        <span class="glyphicon glyphicon-refresh glyphicon-spin student-loading-circle" aria-hidden="true" ng-show="load_student"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="app_name">{{ 'general.callback_url' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-model="apps.callback_url" id="callback_url" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-9">
                            <button type="submit" class="btn btn-primary" ng-disabled="working">{{ 'general.submit' | i18n }}</button>
                            <a class="btn btn-danger" ng-click="closeForm()">{{ 'general.cancel' | i18n }}</a>
                            <span id="login-spinner" ng-show="showLoadingIcon" class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>