<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><h1>{{ 'general.name' | i18n }}</h1></th>
                        <th class="text-center"><h1>{{ 'general.actions' | i18n }}</h1></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="unassigned_student in unassigned_students">
                        <td>{{ unassigned_student.first_name }} {{ unassigned_student.last_name }}</td>
                        <td class="text-center">
                            <a class="glyphicon glyphicon-plus" ng-click="addUserStudent(unassigned_student._id, $index)"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>