<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title">
                    <h1>{{ 'general.edit_user' | i18n:[user.full_name] }}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="ng-binding help">
                    <p>{{ 'help.user_detail' | i18n }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="first_name">{{ 'general.first_name' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user.first_name" id="first_name" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="middle_name">{{ 'general.middle_name' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user.middle_name" id="middle_name" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="last_name">{{ 'general.last_name' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user.last_name" id="last_name" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="email">{{ 'general.email' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user.email" id="email" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="email">{{ 'general.ID' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user._id" id="id" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="created">{{ 'general.created' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user.created | date : 'MM/dd/yyyy HH:mm:ss' : timezone" id="created" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-2 control-label" for="last_updated">{{ 'general.last_update' | i18n }}:</label>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <input type="text" class="form-control" ng-value="user.last_updated | date : 'MM/dd/yyyy HH:mm:ss' : timezone" id="last_updated" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-9">
                            <a href="#/user" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
