<div class="row" >
    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">

                <div class="title">
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    <hr>
                </div>

                <div class="content">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="first_name">{{ 'general.first_name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user.first_name" id="first_name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="middle_name">{{ 'general.middle_name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user.middle_name" id="middle_name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="last_name">{{ 'general.last_name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user.last_name" id="last_name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="email">{{ 'general.email' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user.email" id="email" readonly>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-sm-3 control-label" for="email">{{ 'general.ID' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user._id" id="id" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="created">{{ 'general.created' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user.created" id="created" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="last_updated">{{ 'general.last_update' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user.last_updated" id="last_updated" readonly>
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <a href="#/user" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>
