<div class="row" >
    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">

                <div class="title">
                    <h1>
                        {{ 'general.edit_for' | i18n:[ user.full_name] }}
                    </h1>
                    <hr>
                </div>

                <div class="content">
                    <div class="ng-binding help">
                        <p>{{ 'help.user_edit' | i18n }}</p>
                    </div>
                    <form class="form-horizontal" role="form" ng-submit="editUser(user)">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="role">{{ 'general.role' | i18n }}:</label>
                            <div class="col-sm-9">
                                <select style="border:1px solid black;padding:7px;" class="btn-block" type="checkbox" ng-model="user.role" id="role" ng-disabled="disable_select">
                                    <option value="admin">{{ 'general.admin' | i18n }}</option>
                                    <option value="case-worker-restricted">{{ 'general.case_workers_restricted' | i18n }}</option>
                                    <option value="case-worker-unrestricted">{{ 'general.case_workers_unrestricted' | i18n }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="button" ng-disabled="working">{{ 'general.submit' | i18n }}</button>
                                <a href="#/user" class="button">{{ 'general.back' | i18n }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>
