<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1>
                        Add {{ user.first_name }} {{ user.lat_name }} Student
                    </h1>
                    <hr>
                </div>
                <div class="content">

                    <form class="form-horizontal" role="form" ng-submit="addUserStudent(student)">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="studentId">Student:</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="student.studentId" id="studentId" required autofocus
                                        ng-options="student._id as student.first_name+' '+student.last_name for student in students">
                                </select>
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary" ng-disabled="working">Submit</button>
                                <a href="#/user" class="btn btn-default">Back</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
