<div class="card">
    <div class="-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title">
                    <h1>{{ 'general.user_students' | i18n:[user.full_name] }}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="ng-binding help">
                    <p>{{ 'help.user_group' | i18n }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1><a href="#/user/group/{{ user._id }}/add"><i class="glyphicon glyphicon-plus font16"></i> {{ 'general.add_student' | i18n }}</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><h1>{{ 'general.name' | i18n }}</h1></th>
                        <th><h1>{{ 'general.school_id' | i18n }}</h1></th>
                        <th><h1>{{ 'general.school_district' | i18n }}</h1></th>
                        <th class="text-center">{{ 'general.action' | i18n }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in students">
                        <td><a ng-href="#/student/detail/{{ student._id }}">{{ student.first_name }} {{ student.last_name }}</a></td>
                        <td>{{student._id}}</td>
                        <td>{{ student.school_district }}</td>
                        <td class="text-center">
                            <a class="glyphicon glyphicon-trash" confirmed-click="deleteStudent(student._id, $index)"  ng-confirm-click="{{ 'general.confirm_delete' | i18n }}" ng-disabled="working"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>