<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="col-md-12">
                <div class="title">
                    <h1>
                        {{ 'general.add_for' | i18n:[ user.first_name + ' ' + user.last_name ] }} {{ 'general.student' | i18n }}
                    </h1>
                    <hr>
                </div>
                <div class="content">

                    <form class="form-horizontal" role="form" ng-submit="addUserStudent(student, new_student)" novalidate>
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="new_student" id="new_student">
                                <label for="new_student">{{ 'general.new_student' | i18n }}</label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="new_student == false">
                            <label class="col-sm-3 control-label" for="studentId">{{ 'general.student' | i18n }}:</label>
                            <div class="col-sm-9">
                                <select style="border:1px solid black;padding:7px;" class="btn-block" ng-model="student.student_id" id="studentId" required
                                        ng-options="student._id as student.first_name+' '+student.last_name for student in list_student">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="new_student == true">
                            <label class="col-sm-3 control-label" for="first_name">{{ 'general.first_name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="student.first_name" id="first_name">
                            </div>
                        </div>
                        <div class="form-group" ng-show="new_student == true">
                            <label class="col-sm-3 control-label" for="last_name">{{ 'general.last_name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="student.last_name" id="last_name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-show="new_student == true">
                            <label class="col-sm-3 control-label" for="district_student_id">{{ 'general.district_student_id' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="student.district_student_id" id="district_student_id">
                            </div>
                        </div>
                        <div class="form-group" ng-show="new_student == true">
                            <label class="col-sm-3 control-label" for="school_district">{{ 'general.district_student_name' | i18n }}:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="student.school_district" id="school_district">
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary" ng-disabled="working">{{ 'general.submit' | i18n }}</button>
                                <a href="#/user/group/{{user._id}}" class="btn btn-default">{{ 'general.back' | i18n }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
