<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title">
                    <h1>{{ 'general.users' | i18n }}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="ng-binding help">
                    <p>{{ 'help.user_list' | i18n }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1><a href="#/user/invite"><i class="glyphicon glyphicon-plus font16"></i> {{ 'general.invite_user' | i18n | uppercase }}</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <span class="search-btn">
                    <input type="text" class="input-search" ng-model="search" placeholder="{{ 'general.search_users' | i18n }}">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="table-wrapper">
                    <table class="table table-striped listview">
                        <thead>
                        <tr>
                            <th class="firstColumn">
                                <a href="#" ng-click="sortType = 'first_name';sortReverse = !sortReverse">
                                    {{ 'general.name' | i18n }}
                                    <span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                    <span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                                </a>
                            </th>
                            <th class="secondColumn">
                                <a href="#" ng-click="sortType = 'email';sortReverse = !sortReverse">
                                    {{ 'general.email' | i18n }}
                                    <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                    <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                                </a>
                            </th>
                            <th class="thirdColumn">
                                <a href="#" ng-click="sortType = 'role';sortReverse = !sortReverse">
                                    {{ 'general.role' | i18n }}
                                    <span ng-show="sortType == 'role' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                    <span ng-show="sortType == 'role' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                                </a>
                            </th>
                            <th class="text-center fourthColumn">
                                <a href="#" ng-click="sortType = 'activate';sortReverse = !sortReverse">
                                    {{ 'general.activate' | i18n }}
                                    <span ng-show="sortType == 'activate' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                    <span ng-show="sortType == 'activate' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                                </a>
                            </th>
                            <th class="text-center fifthColumn">
                                <a href="#" ng-click="sortType = 'studentCount';sortReverse = !sortReverse">
                                    {{ 'general.assigned_students' | i18n }}
                                    <span ng-show="sortType == 'studentCount' && !sortReverse" class="glyphicon glyphicon-menu-down post-abs"></span>
                                    <span ng-show="sortType == 'studentCount' && sortReverse" class="glyphicon glyphicon-menu-up post-abs"></span>
                                </a>
                            </th>
                            <th class="text-center sixthColumn" style="width:9%;">{{ 'general.permissions' | i18n }}</th>
                            <th class="text-center seventhColumn" style="width:9%;">{{ 'general.assign_students' | i18n }}</th>
                            <th class="text-center eigthColumn" style="width:9%;">{{ 'general.delete' | i18n }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users | filter:search | orderBy:'first_name' | orderBy:sortType:sortReverse">
                            <td><a ng-href="#/user/detail/{{ user._id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            <td>{{ ('general.'+(user.role || 'n_a')).split('-').join('_') | i18n }}</td>
                            <td class="text-center">{{ 'general.'+(!user.activate ? 'pending': 'active' ) | i18n  }}
                                <div ng-if="!user.activate">
                                    <a href="#" ng-click="reinvite(user)">Reinvite</a>
                                </div>
                            </td>
                            <td class="text-center">{{ user.studentCount }}</td>
                            <td class="text-center">
                                <a href="#/user/edit/{{ user._id }}" class="glyphicon glyphicon-lock" ng-disabled="working"></a>
                            </td>
                            <td class="text-center">
                                <a href="#/user/group/{{ user._id }}" class="glyphicon glyphicon-user" ng-disabled="working"></a>
                            </td>
                            <td class="text-center">
                                <!--<a class="glyphicon glyphicon-trash" confirmed-click="deleteUser(user._id, $index)"  ng-confirm-click="{{ 'general.confirm_delete' | i18n }}" ng-disabled="working"></a>-->
                                <a class="glyphicon glyphicon-trash" ng-click="deleteUser(user._id, $index)"  ng-disabled="working"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if(document.getElementById("programList")){
        document.getElementById("programList").remove();
    }else if(document.getElementById("studentList")){
        document.getElementById("studentList").remove();
    }else if (document.getElementById("userList")){
        document.getElementById("userList").remove();
    }else if(document.getElementById("programStudentAssignList")){
        document.getElementById("programStudentAssignList").remove();
    }else if(document.getElementById("applicationList")){
        document.getElementById("applicationList").remove();
    }else if(document.getElementById("enrollmentList")){
        document.getElementById("enrollmentList").remove();
    }
    var cssId = 'userList';  // you could encode the css path itself to generate id..
    if (!document.getElementById(cssId))
    {
        var head  = document.getElementsByTagName('head')[0];
        var link  = document.createElement('link');
        link.id   = cssId;
        link.rel  = 'stylesheet';
        link.type = 'text/css';
        link.href = 'asset/css/responsive-user-table.css';
        head.appendChild(link);
    }
</script>