/*cbo
CodeMirror theme file created with CodeMirror-Themes
https://github.com/mkaminsky11/codemirror-themes*/
.cm-s-cbo.CodeMirror{background:rgba(39,40,34,1) !important;}
.cm-s-cbo.CodeMirror{color:rgba(248,248,242,1) !important;}
.cm-s-cbo div.CodeMirror-selected{background:rgba(73,72,62,1) !important;}
.cm-s-cbo .CodeMirror-gutters{background:rgba(39,40,34,1) !important;}
.cm-s-cbo .CodeMirror-guttermarker{color:rgba(255,255,255,1) !important;}
.cm-s-cbo .CodeMirror-guttermarker-subtle{color:rgba(208,208,208,1) !important;}
.cm-s-cbo .CodeMirror-linenumber{color:rgba(208,208,208,1) !important;}
.cm-s-cbo .CodeMirror-cursor{border-color:rgba(248,248,242,1) !important;}
.cm-s-cbo span.cm-comment{color:rgba(117,113,94,1) !important;}
.cm-s-cbo span.cm-atom{color:rgba(174,129,255,1) !important;}
.cm-s-cbo span.cm-number{color:rgba(174,129,255,1) !important;}
.cm-s-cbo span.cm-property{color:rgba(166,226,46,1) !important;}
.cm-s-cbo span.cm-attribute{color:rgba(166,226,46,1) !important;}
.cm-s-cbo span.cm-keyword{color:rgba(249,38,114,1) !important;}
.cm-s-cbo span.cm-string{color:rgba(230,219,116,1) !important;}
.cm-s-cbo span.cm-string-2{color:rgba(248,248,242,1) !important;}
.cm-s-cbo span.cm-variable{color:rgba(248,248,242,1) !important;}
.cm-s-cbo span.cm-variable-2{color:rgba(158,255,255,1) !important;}
.cm-s-cbo span.cm-def{color:rgba(253,151,31,1) !important;}
.cm-s-cbo span.cm-bracket{color:rgba(249,38,114,1) !important;}
.cm-s-cbo span.cm-tag{color:rgba(249,38,114,1) !important;}
.cm-s-cbo span.cm-link{color:rgba(174,129,255,1) !important;}
.cm-s-cbo span.cm-error{background:rgba(249,38,114,1) !important;}
.cm-s-cbo span.cm-error{color:rgba(248,248,240,1) !important;}
.cm-s-cbo .CodeMirror-activeline-background{color:rgba(248,248,242,1) !important;}
.cm-s-cbo .CodeMirror-matchingbracket{color:rgba(255,255,255,1) !important;}
