<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Client
            <a href="#/client/add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Client</a>
        </h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th width="35%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients">
                    <td>{{ client.name }}</td>
                    <td>
                        <a class="btn btn-default" ng-href="#/user/view/{{ client.client_id }}"><i class="fa fa-eye"></i> View</a>
                        <a class="btn btn-default" ng-href="#/user/edit/{{ client.client_id }}"><i class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-danger" ng-click="DeleteUser(client.client_id, $index)"><i class="fa fa-remove"></i> Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
