<nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="images/logo.png" alt="logo">
          <a class="navbar-brand" href="#"><h1>Student <strong>Success</strong> Link</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="text-center text-uppercase" href="#">Students</a></li>
            <li><a class="text-center text-uppercase" href="#about">Programs</a></li>
            <li><a class="text-center text-uppercase" href="#reports">Reports</a></li>
            <li><a class="text-center text-uppercase" href="#manage">Manage</a></li>
            <li class="profile">
                
                <a class="text-center profile" href="#">
                    <img class="pull-left" src="images/profile.png" alt="profile picture">
                    Logged in as <strong>Tony Chaiprasit</strong>
                </a>
            </li>
            <li class="edit-profile">
                <a class="text-center profile" href="#">Edit Profile</a>
                <img src="images/logout-btn.png" alt="logout">
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>