<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <img src="images/logo.png" alt="logo" class="pull-left">
            <a class="navbar-brand pull-left" href="#">
            <h1>Student <strong>Success</strong> Link</h1>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a class="text-center text-uppercase" href="#">Students</a></li>
            <li><a class="text-center text-uppercase" href="#">Programs</a></li>
            <li><a class="text-center text-uppercase" href="#">Reports</a></li>
            <li><a class="text-center text-uppercase" href="#">Manage</a></li>
            <li class="profile-tab">
              <img class="pull-left" src="images/profile.png" alt="Profile Picture">
              <span class="pull-left">Logged in as <br/><strong>Tony Chairprasit</strong></span>
            </li>
            <li class="logout-tab text-center">
              <div class="separator"></div>
              <a href="">Edit Profile</a>
              <button class="text-uppercase">Logout</button>
            </li>
          </ul>
        </div>
    </div>
</nav>

<footer class="container-fluid">
    <ul>
      <li>
        <p>All student data in this system is protected by FERPA and your use of data is subject to your organization's data-sharing agreement with the school district. You may only use student information in this system in ways that are consistent with your program's agreement and in line with the parent consent you have received. Failure to use student data properly will result in revocation of access to data. In the event of a suspected data breach, immediately email <a href="">help@studentsuccesslink.org</a></p>
      </li>
      <li class="about">
        <a href="">About Student Success Link Privacy Policy</a>
        <p>&copy;2016 PSESD</p>
      </li>
      <li class="help">
        <button>HELP</button>
      </li>
    </ul>
</footer>