<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
            <h5 class="text-center">Student Success Link</h5>
            <h1 class="text-center">Web Style Guide</h1>
            <hr/>
            <h5 class="text-center">Version</h5>
        </div>
    </div>
    <div class="row">
        <h2>Contents</h2>
        <ol>
            <li>Color System</li>
            <li>Typography</li>
            <li>Buttons, & Text Links</li>
            <li>Form Elements</li>
            <li>Color Blocks over Photography</li>
            <li>Patterned Backgrounds</li>
        </ol>
    </div>
    <div class="row">
        <h2>1. Color System</h2>
        <div class="color-system-container">
            <div class="color-system-item">
                <div class="bg-black item">
                    <h5 class="font-white text-center">Black #1d272c</h5>
                </div>
                <div class="bg-black-900 item">
                    <h5 class="font-white text-center">Black 900 #1d272c</h5>
                </div>
                <div class="bg-black-800 item">
                    <h5 class="font-white text-center">Black 800 #1d272c</h5>
                </div>
                <div class="bg-black-700 item">
                    <h5 class="font-white text-center">Black 700 #1d272c</h5>
                </div>
                <div class="bg-black-600 item">
                    <h5 class="font-white text-center">Black 600 #1d272c</h5>
                </div>
                <div class="bg-black-500 item">
                    <h5 class="font-white text-center">Black 500 #1d272c</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-light-black item">
                    <h5 class="font-white text-center">Light Black #28353b</h5>
                </div>
                <div class="bg-light-black-900 item">
                    <h5 class="font-white text-center">Light Black 900 #28353b</h5>
                </div>
                <div class="bg-light-black-800 item">
                    <h5 class="font-white text-center">Light Black 800 #28353b</h5>
                </div>
                <div class="bg-light-black-700 item">
                    <h5 class="font-white text-center">Light Black 700 #28353b</h5>
                </div>
                <div class="bg-light-black-600 item">
                    <h5 class="font-white text-center">Light Black 600 #28353b</h5>
                </div>
                <div class="bg-light-black-500 item">
                    <h5 class="font-white text-center">Light Black 500 #28353b</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-grey item">
                    <h5 class="font-white text-center">Grey #aab3b8</h5>
                </div>
                <div class="bg-grey-900 item">
                    <h5 class="font-white text-center">Grey 900 #aab3b8</h5>
                </div>
                <div class="bg-grey-800 item">
                    <h5 class="font-white text-center">Grey 800 #aab3b8</h5>
                </div>
                <div class="bg-grey-700 item">
                    <h5 class="font-white text-center">Grey 700 #aab3b8</h5>
                </div>
                <div class="bg-grey-600 item">
                    <h5 class="font-white text-center">Grey 600 #aab3b8</h5>
                </div>
                <div class="bg-grey-500 item">
                    <h5 class="font-white text-center">Grey 500 #aab3b8</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-purple item">
                    <h5 class="font-white text-center">Purple #8749ad</h5>
                </div>
                <div class="bg-purple-900 item">
                    <h5 class="font-white text-center">Purple 900 #8749ad</h5>
                </div>
                <div class="bg-purple-800 item">
                    <h5 class="font-white text-center">Purple 800 #8749ad</h5>
                </div>
                <div class="bg-purple-700 item">
                    <h5 class="font-white text-center">Purple 700 #8749ad</h5>
                </div>
                <div class="bg-purple-600 item">
                    <h5 class="font-white text-center">Purple 600 #8749ad</h5>
                </div>
                <div class="bg-purple-500 item">
                    <h5 class="font-white text-center">Purple 500 #8749ad</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-cyan item">
                    <h5 class="font-white text-center">Cyan #74d5d6</h5>
                </div>
                <div class="bg-cyan-900 item">
                    <h5 class="font-white text-center">Cyan 900 #74d5d6</h5>
                </div>
                <div class="bg-cyan-800 item">
                    <h5 class="font-white text-center">Cyan 800 #74d5d6</h5>
                </div>
                <div class="bg-cyan-700 item">
                    <h5 class="font-white text-center">Cyan 700 #74d5d6</h5>
                </div>
                <div class="bg-cyan-600 item">
                    <h5 class="font-white text-center">Cyan 600 #74d5d6</h5>
                </div>
                <div class="bg-cyan-500 item">
                    <h5 class="font-white text-center">Cyan 500 #74d5d6</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-teal item">
                    <h5 class="font-white text-center">Teal #4eb8b9</h5>
                </div>
                <div class="bg-teal-900 item">
                    <h5 class="font-white text-center">Teal 900 #4eb8b9</h5>
                </div>
                <div class="bg-teal-800 item">
                    <h5 class="font-white text-center">Teal 800 #4eb8b9</h5>
                </div>
                <div class="bg-teal-700 item">
                    <h5 class="font-white text-center">Teal 700 #4eb8b9</h5>
                </div>
                <div class="bg-teal-600 item">
                    <h5 class="font-white text-center">Teal 600 #4eb8b9</h5>
                </div>
                <div class="bg-teal-500 item">
                    <h5 class="font-white text-center">Teal 500 #4eb8b9</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-orange item">
                    <h5 class="font-white text-center">Orange #ffae29</h5>
                </div>
                <div class="bg-orange-900 item">
                    <h5 class="font-white text-center">Orange 900 #ffae29</h5>
                </div>
                <div class="bg-orange-800 item">
                    <h5 class="font-white text-center">Orange 800 #ffae29</h5>
                </div>
                <div class="bg-orange-700 item">
                    <h5 class="font-white text-center">Orange 700 #ffae29</h5>
                </div>
                <div class="bg-orange-600 item">
                    <h5 class="font-white text-center">Orange 600 #ffae29</h5>
                </div>
                <div class="bg-orange-500 item">
                    <h5 class="font-white text-center">Orange 500 #ffae29</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-pink item">
                    <h5 class="font-white text-center">Pink #f84283</h5>
                </div>
                <div class="bg-pink-900 item">
                    <h5 class="font-white text-center">Pink 900 #f84283</h5>
                </div>
                <div class="bg-pink-800 item">
                    <h5 class="font-white text-center">Pink 800 #f84283</h5>
                </div>
                <div class="bg-pink-700 item">
                    <h5 class="font-white text-center">Pink 700 #f84283</h5>
                </div>
                <div class="bg-pink-600 item">
                    <h5 class="font-white text-center">Pink 600 #f84283</h5>
                </div>
                <div class="bg-pink-500 item">
                    <h5 class="font-white text-center">Pink 500 #f84283</h5>
                </div>
            </div>
            <div class="color-system-item">
                <div class="bg-dark-grey item">
                    <h5 class="font-white text-center">Dark Grey #5b666c</h5>
                </div>
                <div class="bg-dark-grey-900 item">
                    <h5 class="font-white text-center">Dark Grey 900 #5b666c</h5>
                </div>
                <div class="bg-dark-grey-800 item">
                    <h5 class="font-white text-center">Dark Grey 800 #5b666c</h5>
                </div>
                <div class="bg-dark-grey-700 item">
                    <h5 class="font-white text-center">Dark Grey 700 #5b666c</h5>
                </div>
                <div class="bg-dark-grey-600 item">
                    <h5 class="font-white text-center">Dark Grey 600 #5b666c</h5>
                </div>
                <div class="bg-dark-grey-500 item">
                    <h5 class="font-white text-center">Dark Grey 500 #5b666c</h5>
                </div>
            </div>
            <div class="color-system-item center-horizontal-vertical box">
                <div class="item">
                    <h5 class="font-black text-center">White #ffff</h5>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <h2>2. Typography</h2>
        <div class="col-md-12 col-sm-12">
            <h1>H1."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h1>
            <h2>H2."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h2>
            <h3>H3."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h3>
            <h4>H4."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h4>
            <h5>H5."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h5>
            <h6>H6."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h6>
        </div>
    </div>
    <div class="row">
        <h2>3. Buttons, & Text Links</h2>
        <div class="col-md-12">
            <h3>Button</h3>
            <div class="bg-pink-800 box">
                <button><span class="text-uppercase">Sign In</span></button>
            </div>
        </div>
        <div class="col-md-12">
            <h3>Text Links</h3>
            <a href="">Click Here</a>
        </div>
    </div>
</div>